/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .slide-image {
        border-radius: 1.8rem;
    }
}

@media screen and (width >= 500px) {
    .feature-wrapper {
        padding: 2rem;
    }
    .product-grid {
        gap: 1rem;
      }
      
    .product-grid .image {
        grid-column: span 2;  
    }

    .slide-image {
        border-radius: 2.5rem;
    }
}

@media screen and (width >= 600px) {
    .feature-section {
        padding: 2rem; 
    }
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-list p .line {
        font-size: clamp(1rem, 1.75vw, 1.5rem);
    } 
    
    /* .feature-list p .line {
        font-size: clamp(0.8rem, 1vw, 1.25rem);
    } */

    .feature-list p .bullet {
        width: clamp(1rem, 1.75vw, 1.5rem);
        height: clamp(1rem, 1.75vw, 1.5rem);
    }
}

@media screen and (width >= 660px) {
/* About & Contact page */
    .feature-wrapper {
        padding-inline: 3rem;
    }

    .cart-main {
        flex-direction: row-reverse;
    }

    .cart-aside {
        /* width: 25%; */
    }
      
    .cart-list {
        width: 75%;
    }

    .product-grid {
        width: 100%;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(10, calc(10% - 1.35rem));
      } 

    .product-grid .image {
        grid-column: span 3;
       
    }

    .close-btn {
        right: -5rem;
    }
}

@media screen and (width >= 775px) {

    .count-icon {
        bottom: 20px;
        left: 20px;
        width: 2.3rem;
        height: 2.3rem;
        color: var(--clr-grey); 
        border: 2px solid var(--clr-grey);
        border-radius: 50%;
        z-index: 10;
        margin: 0;
        padding: 0;
    }

    .count-icon span {
        vertical-align: middle;
    }

    .feature {
        margin-block-end: 4rem;
    }

    .feature-header {
        padding: 0;
    }

    /* About & Contact page */
    .feature-wrapper {
        display: flex;
        gap: 1rem;
        padding: 2rem;
    }

    .feature-section {
        width: 80%;
        margin-block-end: 0;
        padding-inline: 0rem;
        /* margin: 0 auto; */
    }

    .side-panel { 
        top: 6rem;
        min-height: calc(100vh - var(--header-height-wide)); 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
    }

    .hide-auth-menu {
        top: -11rem;
      }

    .contextual-links {
        min-height: 5rem;
    }
    
    .page {
        padding: var(--size-2);
        min-height: calc(100vh - calc(var(--footer-height) + var(--header-height-wide))); 
    }

    .slide-image { 
        border-radius: 4.2%;
    }

    .search-results > .container {
        display: flex;
    }

    /* Aside */
    .parameters {
        top: 6rem;
        flex-grow: 1;
      }

    .search-results .container {
        flex-grow: 3;
    }

    .product-grid {
        /* gap: 2rem; */
        grid-template-columns: repeat(4, calc(20% - 1.6rem));
    }

    .product-grid .image {
        grid-column: span 1;
    }

    .product-grid .section {
        flex-direction: column;
        align-items: flex-start;
    }

    .about .grid-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .layout {
        padding-block-start: var(--header-height-wide);
        min-height: calc(100vh - calc(var(--header-height)));
    }

    .auth-layout {
        padding-block-start: var(--auth-header-height-wide);
    }
    
    .search-count {
        top: var(--top-desktop);
    }

    .footer {
        margin-inline: auto;
    }

    /* login & signup */
    .form-element label {
        padding-bottom: 0.5rem;
     }

    .form-element label,
    .form-element p,
    .link {
        font-size: 1.3rem;
    }

    /* MainHeader */
    .nav-btn svg {
        height: 3rem;
        width: 3rem;
    }
    .banner {
        position: static;
        width: 100%;
    }

    .banner-content {
        width: 100%;
        left: 0;
        background-size: 100%;
        aspect-ratio: 3 / 1.5;
    }

    /* MainHeader */
    .main-header {
        display: flex;
        flex-direction: column;
        min-height: var(--top-desktop);
    }
    
    .header-container  {
        padding-inline: 2rem;
    }

    a.home {
        min-width: 20rem;
        height: 4.5rem;
    }

    .logo {
        width: 4.2rem;
        height: 4.2rem;
    }

    h1.site-name {
        font-size: 22px
    }

    .nav-btns {
        width: 100%;
        justify-content: flex-end;
        gap: 2rem;
    }

    .hide-nav {
        top: -6rem;
      }

    .nav-menu ul {
        width: 100%;
    }


    #auth-btn,
    #signin-btn {
        display: block;
    }
    
    #catalog-form {
        padding-block: 0;
    }
    
    #catalog {
        margin-block: 0;
    }


    .contextual-links a span {
        font-size: var(--fs-175);
        font-weight: 500;
    }

    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }

    #search-catalog-form {
        position: relative;
        min-height: var(--top-desktop);
        min-width: clamp(20rem, 45%, 60rem) !important;
        padding-block: 0;
        margin: auto;
    }

      /* Autocomplete */
      .autocomplete-list {
        top: 6rem;
        min-width: clamp(20rem, 50%, 60rem) !important;
    }

    #catalog-form {
        width: 100%;
        margin-block: 0;
        background-color: var(--clr-primary);
        border-radius: 0;
    }

    #catalog {
        margin-inline: 0;
        font-size: var(--fs-175);
        min-height: 4.5rem;
        width: 100%;
        padding-inline: var(--size-1);
        margin-block: 0.75rem;
        margin-inline: auto;
    }

    #catalog::placeholder {
        font-size: var(--fs-175);
    }
    
    .navbar {
        display: flex;
    }

    .navbar {
        min-width: 20rem;
    }

    .nav-btns {
        grid-gap: 2.5rem;
        gap: 2.5rem;
    }
    
    .nav-btn {
        width: 3.3rem;
        height: 3.3rem;
    }
    
    .nav-btn svg {
        width: 100%;
        height: 100%;
    }

    .nav-menu ul {
        inset: var(--top-desktop) 0 0 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

   .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    .search-btn {
        display: none;
    }

    .layout .footer {
        min-height: var(--top-desktop);
        margin-inline: auto;
        font-size: var(--fs-125);
    }

    /* Modal */
    .modal-frame {
        top: 0;
    }
    
    .modal-btn svg {
        fill: var(--clr-modal);
    }

    .modal-btn:hover > svg {
        fill: var(--clr-light);
    }

    .slide-show-scroller {
        display: none;
    }

    .close-modal {
        top: -6rem;
        left: 110%; 
      }

    .slide-left {
        display: block;
        left: -10rem;
    }

    .slide-right {
        display: block;
        right: -10rem;
    }
    .slide-btn {
        padding: 2%;
    }

    .indicators {
        bottom: -8.5rem;
    }

    .indicator svg {
        vertical-align: middle;
        fill: var(--clr-modal);
    }

    .indicator:hover > svg {
        cursor: pointer;
        fill: var(--clr-light);
      }
      

    /* Feature Section Style & Media Element */
    .media-scroller {
        padding-block: 2rem;
        padding-inline: 0;
        gap: var(--size-2);
        overflow: hidden;
    }

    .snaps-inline {
        scroll-snap-type: inline mandatory ;
        scroll-padding-inline: 1rem;
        }
    
    .media-element {
        gap: var(--size-1);
        padding: var(--size-1);
        border-radius: var(--radius-1);
    }

    .media-frame {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        top: 53%;
        width: 95%;
        margin-inline: auto;
        z-index: 1;
        /* bottom: 0; */
    }

    .media-btn {
        border-radius: 100%;
        position: absolute;
        width: 7rem;
        height: 7rem;
        padding: 1rem;
        margin: auto;
        background: rgba(0,0,0, 0.4);
    }

    .media-btn svg {
        fill: var(--clr-grey);
    }

    .media-btn:hover {
        background-color: rgba(0,0,0, 0.6);
    }

    .media-btn:hover > svg {
        fill: var(--clr-light);
    }
    
    .media-element h3 {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: var(--fs-125);
    }
        
    .img-container {
        border-radius: 100%;
    }
    .img-container img { 
        margin: 0 auto;
    }  
}

@media screen and (width >= 960px) {
    .feature-card-image {
        aspect-ratio: 16 / 9;
    }

    .product-grid {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(6, calc(16.667% - 1.667rem));
      }

      .product-grid .api.handler {
        grid-column: span 2;
    }
}

@media screen and (width >= 1024px) {

    a.home {
        align-items: center;
        gap: 5px;
    }

    .logo {
        width: 4rem;
        height: 4rem;
    }
    
    h1.site-name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: inherit;
        font-size: clamp(var(--fs-275), calc(2vw + 5px), var(--fs-350)) !important;
        font-stretch: ultra-condensed;
        overflow: visible;
    }

    .site-name span {
        display: inline;
        line-height: 1;
        height: fit-content;
    }

    .site-name span:nth-of-type(1) {
        margin: 0;
    }
}

@media screen and (width >= 1200px) {

    .header-container {
        padding-inline: 4rem;
    }

    .nav-btns {
        gap: 3rem;
        grid-gap: 3rem;
      }
    
    .feature-grid {
        grid-template-columns: repeat(4, 1fr);
        padding-inline: 1rem;
    }

    .about .grid-section {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .feature-card-header h2 {
        margin-inline: 0;
    }

    .feature-list p {
        margin-bottom: 7px;
    }
    
    .feature-list p .line {
        font-size: clamp(1rem, 1vw, 1.25rem);
    }

    .feature-list p .bullet {
        width: clamp(1rem, 1vw, 1.25rem);
        height: clamp(1rem, 1vw, 1.25rem);
    }

    .banner-content {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-position: 50% 25%;
        background-size: 100%;
        aspect-ratio: 3 / 1;
    }
    .about-page-banner.banner {
        background-position: 100%  50%!important;
    }

    .parameters-list {
        position: static;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 5px;
      }

      .parameters-btn {
        display: none;
      }
}

@media screen and (width >= 1350px) {
 
    .contextual-links a:first-of-type {
        border-left: 1px solid var(--clr-light-border);
    }
    .contextual-links a:last-of-type {
        border-right: 1px solid var(--clr-light-border);
    }
}