/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .login-password i {
        font-size: var(--fs-175);
    }
}

@media screen and (width >= 500px) {
    .feature-wrapper {
        padding: 2rem;
    }
    .product-grid {
        gap: 1rem;
      }
      
    .product-grid .image {
        grid-column: span 2;  
    }
}

@media screen and (width >= 660px) {
        /* About & Contact page */
.feature-wrapper {
    /* display: flex;
    gap: 1rem;
    padding: 1rem; */
    padding-inline: 3rem;
}

.feature-section {
    /* width: 80%; */
    /* margin: 0 auto; */
}

    .cart-main {
        flex-direction: row-reverse;
    }

    .cart-aside {
        /* width: 25%; */
    }
      
    .cart-list {
        width: 75%;
    }

    .product-grid {
        width: 100%;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(10, calc(10% - 1.35rem));
      } 

    .product-grid .image {
        grid-column: span 3;
       
    }
    
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-card-content p {
        font-size: clamp(1rem, 1.75vw, 1.5rem);
    }

    .close-btn {
        right: -5rem;
    }
}

@media screen and (width >= 775px) {

    /* About & Contact page */
.feature-wrapper {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.feature-section {
    width: 80%;
    /* margin: 0 auto; */
}


    .side-panel { 
        top: 6rem;
        min-height: calc(100vh - var(--header-height-wide)); 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
    }

    .hide-auth-menu {
        top: -11rem;
      }

    .contextual-links {
        min-height: 5rem;
    }
    
    .page {
        padding: var(--size-2);
        min-height: calc(100vh - calc(var(--footer-height) + var(--header-height-wide))); 
    }

    .modal-image { 
        border-radius: 2.2rem;
    }

    .search-results > .container {
        display: flex;
    }

    /* Aside */
    .parameters {
        top: 6rem;
        flex-grow: 1;
      }

    .search-results .container {
        flex-grow: 3;
    }

    .product-grid {
        /* gap: 2rem; */
        grid-template-columns: repeat(4, calc(20% - 1.6rem));
    }


    .product-grid .image {
        grid-column: span 1;
       
    }

    .product-grid .section {
        flex-direction: column;
        align-items: flex-start;
    }

    .about .grid-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .layout {
        padding-block-start: var(--header-height-wide);
        min-height: calc(100vh - calc(var(--header-height)));
    }

    .auth-layout {
        padding-block-start: var(--auth-header-height-wide);
    }
    
    .search-count {
        top: var(--top-desktop);
    }

    .footer {
        margin-inline: auto;
    }

    /* login & signup */
    .form-element label {
        padding-bottom: 0.5rem;
     }

    .form-element label,
    .form-element p,
    .link {
        font-size: 1.3rem;
    }

    /* MainHeader */
    .nav-btn svg {
        height: 3rem;
        width: 3rem;
    }
    .banner {
        position: static;
        width: 100%;
    }

    .banner-content {
        width: 100%;
        left: 0;
        background-size: 100%;
        aspect-ratio: 3 / 1.5;
    }

    /* MainHeader */
    .main-header {
        display: flex;
        flex-direction: column;
        min-height: var(--top-desktop);
    }
    
    .header-container  {
        padding-inline: 2rem;
    }

    .nav-btns {
        width: 100%;
        justify-content: flex-end;
        gap: 2rem;
    }

    .hide-nav {
        top: -6rem;
      }

    .nav-menu ul {
        width: 100%;
    }


    #auth-btn,
    #signin-btn {
        display: block;
    }
    
    #catalog-form {
        padding-block: 0;
    }
    
    #catalog {
        margin-block: 0;
    }


    .contextual-links a span {
        font-size: var(--fs-175);
        font-weight: 500;
    }

    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }

    #search-catalog-form {
        position: relative;
        min-height: var(--top-desktop);
        min-width: clamp(20rem, 45%, 60rem) !important;
        padding-block: 0;
        margin: auto;
    }

      /* Autocomplete */
      .autocomplete-list {
        top: 6rem;
        min-width: clamp(20rem, 50%, 60rem) !important;
    }

    #catalog-form {
        width: 100%;
        margin-block: 0;
        background-color: var(--clr-primary);
        border-radius: 0;
    }

    #catalog {
        margin-inline: 0;
        font-size: var(--fs-175);
        min-height: 4.5rem;
        width: 100%;
        padding-inline: var(--size-1);
        margin-block: 0.75rem;
        margin-inline: auto;
    }

    #catalog::placeholder {
        font-size: var(--fs-175);
    }
    
    .navbar {
        display: flex;
    }

    .logo, 
    .navbar {
        min-width: 20rem;
    }

    .nav-btns {
        grid-gap: 2.5rem;
        gap: 2.5rem;
    }

    /* Hamburger container */
    /* .mobile-nav-label {
        width: 3.3rem;
        height: 3rem;
    }
    
    .mobile-nav-label span,
    .mobile-nav-label::before,
    .mobile-nav-label::after {
        width: 3.3rem;
    }

    header:has(input:checked) .mobile-nav-label::before,
    header.checked .mobile-nav-label::before {
    
        rotate: -45deg;
        translate: 1px 11.5px;
    }


    header:has(input:checked) .mobile-nav-label::after,
    header.checked .mobile-nav-label::after {
    
        rotate: 45deg;
        translate: 1px -11.5px;
    } */
    
    .nav-btn {
        width: 3.3rem;
        height: 3.3rem;
    }
    
    .nav-btn svg {
        width: 100%;
        height: 100%;
    }

    .nav-menu ul {
        inset: var(--top-desktop) 0 0 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

   .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    .search-btn {
        display: none;
    }

    .layout .footer {
        min-height: var(--top-desktop);
        margin-inline: auto;
        font-size: var(--fs-125);
    }

    /* Feature Section Style & Media Element */
    .media-scroller {
        padding: 2rem;
        gap: var(--size-2);
      }
      
      .media-element {
        gap: var(--size-1);
        padding: var(--size-1);
        border-radius: var(--radius-1);
      }
      
      .media-element h3 {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: var(--fs-125);
      }
           
      .img-container {
        border-radius: 100%;
      }
        .img-container img { 
      
          margin: 0 auto;
        }  
}


@media screen and (width >= 960px) {
    .feature-card-image {
        aspect-ratio: 16 / 9;
    }

    .product-grid {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(6, calc(16.667% - 1.667rem));
      }

      .product-grid .api.handler {
        grid-column: span 2;
    }
}

@media screen and (width >= 1200px) {

    .header-container {
        padding-inline: 4rem;
    }

    .nav-btns {
        gap: 3rem;
        grid-gap: 3rem;
      }
    
    .feature-grid {
        grid-template-columns: repeat(4, 1fr);
        padding-inline: 1rem;
    }

    .about .grid-section {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .feature-card-header h2 {
        margin-inline: 0;
    }
    
    .feature-card-content > p {
        font-size: clamp(1rem, 2vw, 1.25rem);
    }

    .banner-content {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-position: 50% 25%;
        background-size: 100%;
        aspect-ratio: 3 / 1;
    }
    .about-page-banner.banner {
        background-position: 100%  50%!important;
    }



    .parameters-list {
        position: static;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 5px;
      }

      .parameters-btn {
        display: none;
      }
}

@media screen and (width >= 1350px) {
 
    .contextual-links a:first-of-type {
        border-left: 1px solid var(--clr-light-border);
    }
    .contextual-links a:last-of-type {
        border-right: 1px solid var(--clr-light-border);
    }
}