/* Navigation */
.header-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: var(--size-1);
    min-height: var(--header-height);
    background-color: var(--clr-primary);
    }
    
.header-logo {
    /* margin-inline-start: 0; */
    /* align-self: flex; */
    /* justify-content: flex-start; */
    margin-right: auto;
}

.logo-btn {
    min-width: 5rem;
}

.logo-btn * {
    pointer-events: none;
    color: var(--clr-grey);
}

.navbar {
    justify-content: end;
    /* align-self: flex-end; */
    margin-left: auto;
}

nav {
    width: 100%;
}

.nav-btn {
    width: 3rem;
    height: 3rem;
}

.nav-btn:hover {
   opacity: 0.8;
}

.nav-btn a {
    color: var(--clr-grey);
}

.nav-btn svg {
    color: var(--clr-grey);
    display: block;
    width: 100%;
    height: 100%;

}

.auth-btn,
.sigin-btn {
    display: none;
}

.auth-btn:hover {
    opacity: 0.8;
}

/* .auth-btn a {
    display: block;
    color: var(--clr-grey);
} */

.auth-btn a * {
    pointer-events: none;
}

.side-panel {
    /* display: none; */
    position: absolute;
    top: 6rem;
    right: 0;
    width: 0;
    min-height: calc(100vh - var(--header-height-wide)); 
    background-color: var(--clr-light);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: width 0.2s ease-in-out;
    z-index: 1000;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
}

.side-show {
    /* display: block; */
    width: 30rem;
}

.auth-modal ul {
    height: inherit;
    display: block;
    position: static;

}

.auth-modal a {
   display: block;
   padding: 1rem;
   text-align: center;
   font-size: var(--fs-150);
   color: var(--clr-grey);
   background-color: var(--clr-secondary);
   border-top: 1px solid var(--clr-grey);
}

.signin-nav-btn {
    display: none;
}

.auth-btn,
.hamburger-btn,
.search-btn {
    cursor: pointer;
}

.auth-btn *,
.hamburger-btn *,
.cart-btn *,
.mail-btn *,
.search-btn *
 {
    pointer-events: none;
}

/* Avatar */
.avatar-btn {
    /* display: none; */
    min-width: 3.3rem;
    min-height: 3.3rem;
    border-radius: 50%;
    font-size: var(--fs-200);
    color: var(--clr-light);
}

nav .left-side-nav {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
}

nav .right-side-nav {
    display: flex;
    height: 0;
    width: 0;
    /* background: red; */
}

nav .right-side-nav ul {
    position: fixed;
    top: var(--header-height);
    left: 100%; 
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    overflow-y: hidden;
    transition: 0.2s ease;
    background-color: var(--clr-light);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
    z-index: 9000;
}

.nav-link {
    display:block;
    padding: 1.5rem;
    width: 100%;
    font-size: var(--fs-175);
    color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-grey);
    z-index: 9000;
}

.logout:hover {
    cursor: pointer;
}

/* Hamburger */
#mobile-nav {
    display: none;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    min-height: 4rem;
}

.mobile-nav-label {
    position: relative;
    display: flex;
    align-items: center;
    width: 3rem;
    height: 2.7rem;
    cursor: pointer;
}
.mobile-nav-label span,
.mobile-nav-label::before,
.mobile-nav-label::after {
    width: 3rem;
    height: 3px;
    border-radius: 5px;
    background-color: var(--clr-grey);
    transition: all 0.2s ease;
    z-index: 999;
}

.mobile-nav-label::before,
.mobile-nav-label::after {
    content: '';
    position: absolute;
}

.mobile-nav-label::before {
    top: 2px;
}

.mobile-nav-label::after {
    bottom: 2px;
}

/* Hamburger animation */
/* 'checked' className option for Firebox browser added to header @ main.js */
header:has(input:checked) .mobile-nav-label::before,
header.checked .mobile-nav-label::before {
  
    rotate: -45deg;
    translate: 1px 10px;
}


header:has(input:checked) .mobile-nav-label::after,
header.checked .mobile-nav-label::after {
   
    rotate: 45deg;
    translate: 1px -10px;
}

header:has(input:checked) .mobile-nav-label span,
header.checked .mobile-nav-label span {
    opacity: 0;
}

