/* -------------- */
/* Reset          */
/* -------------- */

/* https://andy-bell.co.uk/a-modern-css-reset/  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
h5,
blockquote,
figure,
picture {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

/* Sourece @ https://www.htmlgoodies.com/cms/styling-select-css-html/ */
/* styles reset, including removing the default dropdown arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 100%;
    margin: 0;
    font: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: 1;
    /* Stack above custom arrow */
    z-index: 1;
    /* Remove focus outline, will add on alternate element */
    outline: none;
    }


textarea:focus, input:focus, select:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;

    }
}