/* Open props */
:root {
  /* site colors */
  /* --clr-primary: #ee6352; */
  
  --clr-transparent: rgba(0, 0, 0, 0);
  --clr-primary: rgb(42, 73, 101);
  --clr-secondary: rgb(225, 232, 237);
  --clr-surface:  rgb(80, 80, 80);
  --clr-ternary: rgb(250, 250, 211);
  --clr-dark: #2C2C2C;
  --clr-grey: rgb(219, 219, 219);
  --clr-light-border: rgba(255, 255, 255, 0.3);
  --clr-light-grey: #F7F7F7;
  --clr-light: rgb(252, 252, 252);
  --clr-success: #49A078;
  --clr-danger: rgb(220, 53, 69);
  --clr-yellow-2: #ff6e34;
  --clr-yellow: #f5cc15;
  --clr-teal: #3598d1;
  --clr-primary-steel: rgb(103, 152, 180);

  

  /* font sizes */
  --fs-500: 5rem;
  --fs-400: 4rem;
  --fs-300: 3rem;
  --fs-275: 2.75rem;
  --fs-250: 2.5rem;
  --fs-225: 2.25rem;
  --fs-200: 2rem;
  --fs-175: 1.75rem;
  --fs-150: 1.5rem;
  --fs-125: 1.25rem;
  --fs-100: 1rem;
  --fs-075: 0.75rem;
  --fs-050: 0.5rem;
  --fs-form: 1.6rem;

  /* font weight */
  --fw-100: 100;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;


  
  /* size */
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-5: 5rem;
  --size-6: 6rem;
  --size-9: 9rem;

  /* header heights */
  --header-height: 5rem;
  --header-height-wide: 6rem;
  --auth-header-height: 9rem;
  --auth-header-height-wide: 11rem;
  --footer-height: 5rem;
  --footer-height-wide: 6rem;


  --auth-mobile: 14rem;
  --auth-desktop: 16rem;
  --mobile: 10rem;
  --desktop: 5rem;
  --section-gap: 4rem; 


  --top-mobile: 5rem;
  --top-desktop: 6rem;

  --layout-bottom: 5rem;

  /* boder-radius */
  --radius-1: 0.33rem;
  --radius-2: 0.50rem;
  --radius-3: 1rem;

  --shadow-1: 0px 2px 6px 0px rgba(0,0,0,0.1);
  --shadow-2: 0px 4px 6px 0px rgba(255,255,255,0.1);
  --shadow-3: 0px 4px 6px 0px rgba(0,0,0,0.3);
  --shadow-4: 0px 4px 6px 0px rgba(255,255,255,0.3);

  --card-width: 24.5rem;
  --card-height: 34rem;
  font-size: 62.5%;

  /* Hamburger animation style */
  --rotation-before: 0deg;
  --translation-before: 0px 0px;

  --rotation-after: 0deg;
  --translation-after: 0px 0px;

  --opacity-between: 1;
}

.check-icon {
  color: var(--clr-success);
  font-size: 4rem;
}

body {
  min-width: 37rem;
  width: 100%;
  height: 100%;
  display: flex;
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-125);
  line-height: 1.5;
  scrollbar-gutter: stable both-edges;
  background-color: var(--clr-light);
}

#root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

a {
color: var(--clr-light);
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 37rem;
  transition: top 0.2s ease-in;
  z-index: 2000;
}

.root-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-layout {
  padding-top: var(--auth-header-height);
  background-color: var(--clr-light);

}

.layout {
  padding-block-start: var(--header-height);
}

.layout * {
  color: var(--clr-light);
}

.layout .page {
  padding-block: 1rem;
}

.layout .page-header {
  border-color: var(--clr-light);
}

.layout .card {
  background: var(--clr-surface);
}

.layout .shopping-cart .card {
  background: var(--clr-light);
}

.layout .product-info *,
.layout .dropdown * {
  color: var(--clr-dark);
}

.layout,
.auth-layout {
  width: 100vw;
  min-width: 37rem;
  max-width: 135rem;
  margin: auto;
  flex-basis: 100%;
}

.auth-layout .main-header {
  transition: top 0.1s ease-in;
}

.card header * {
  background: var(--clr-light);
  color: var(--clr-dark);
}

.card-image {
  border-radius: 4.25%;
}

.layout .product-info {
  background: var(--clr-light-grey);
}

.auth-layout .breadcrumbs a {
  color: var(--clr-dark);
}

button:hover {
cursor: pointer;
}

/* Loading Spinner Styling */
/* .loading-content {
display: flex;
height: inherit;
flex-direction: column;
justify-content: center;
align-items: center;
}

.loading-icon {
display: flex;
align-items: stretch;
justify-content: center;
} */

.loader svg {
display: block;
width: 5rem;
height: 5rem;
color: var(--clr-primary);
animation: animate 0.5s linear infinite;
}

@keyframes animate {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
/* end spinner */


.header {
width: 100%;
padding: 2rem;
margin-block-end: 1rem;
color: var(--clr-light);
border-bottom: 1px solid var(--clr-light)
}

.btn {
min-width: 13rem;
padding-block: 0.5rem;
padding-inline: var(--size-2);
margin-block: auto;
font-size: var(--fs-150);
font-weight: 500;
line-height: 1.5;
text-align: center;
background: var(--clr-light-grey);
color: var(--clr-light);
border-radius: var(--radius-1);
}

.btn-small {
  /* display: inline-block; */
  min-height: 3rem;
  align-self: center;
  min-width: 8.5rem;
  font-weight: 500;
  line-height: 1.5;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin: 0 auto;
  color: var(--clr-light-grey);
  background: var(--clr-grey);
  border-radius: var(--radius-1);
}

.btn-tiny {
  min-height: 3rem;
  min-width: 3rem;
  padding-inline: 1rem;
  margin: auto;
  color: var(--clr-light-grey);
  border-radius: var(--radius-1);
}

.btn-tiny svg {
  width: 2rem;
  height: 2rem;

  vertical-align: middle;
}

.btn:hover {
  opacity: 0.8;
}


.btn-collection {
  font-size: var(--fs-150);
  padding-block: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  margin-inline: auto;
  margin-block-start: 1rem;
  color: var(--clr-light-grey);
  border-radius: var(--radius-1);
  max-width: clamp(20rem, 100%, 60rem) !important;
}

.btn-api {
  width: var(--card-width) !important;
}

.article {
flex-basis: 100%;
margin-inline: auto;
}

.article-title {
padding: 2rem;
font-weight: 300;
text-align: center;
border-bottom: 1px solid var(--clr-grey); 
}

.article-body {
  padding: 1rem;
}

/* Not found search page */
.not-found {
margin-top: 9rem;
min-height: 100%;
display: flex;
flex-direction: column;
gap: 5rem;
}

.not-found > main,
.not-found > footer {
padding-inline: 2rem;
text-align: center;
}

.not-found p,
.not-found h2 {
margin-block: 1rem;
line-height: 1.8;
color: var(--clr-primary);
text-align: center;
}

.not-found h2 {
font-size: var(--fs-250);
}

.not-found p {
font-size: var(--fs-175);
font-weight: 600;
}

.not-found-btn {
font-size: var(--fs-175);
font-weight: 500;
width: 50%;
padding-block: 1rem;
color: var(--clr-light);
background-color: var(--clr-primary);
border: 1px solid var(--clr-grey);
border-radius: 5px;
}

/* ************************************************************ */

/* source @ https://www.youtube.com/watch?v=3yfswsnD2sw&t=1532s */

/* ************************************************************ */
.media-scroller {
--spacer: 1.4rem;
display: grid;
gap: var(--size-2);
grid-auto-flow: column;
grid-auto-columns: clamp(27rem, calc(29vw + 15px), 29rem);
padding-inline: var(--size-2);
overflow-x: auto;
overscroll-behavior-inline: contain;
}

.media-element {
display: grid;
grid-template-rows: min-content;
gap: var(--spacer);
padding: var(--spacer);
background-color: var(--clr-surface);
border-radius: var(--radius-1);
box-shadow: var(--shadow-3);
}

.media-element > button {
  border-radius: var(--radius-2);
  background-color: var(--clr-surface);
}

.media-element img {
inline-size: 100%;
object-fit: cover;
border-radius: calc(var(--radius-2) + 3px);
}

.media-element > p {
color: var(--clr-light-grey);
text-align: center;
font-weight: 400;
font-size: var(--fs-125);
}

.snaps-inline {
scroll-snap-type: inline mandatory ;
scroll-padding-inline: var(--spacer, 1.5rem);
}

.snaps-inline > * {
scroll-snap-align: start;
}

/* Feature */
.feature-section {
  padding-block-end: var(--section-gap);
  width: 100%;
}

.section-header {
  margin-block-end: 2rem;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: clamp(var(--fs-175), 4vw, var(--fs-300));
  font-weight: 500;
  margin-inline: 1.5rem;
  padding-block-end: 1.5rem;
  color: var(--clr-light-grey);
  border-bottom: 2px solid var(--clr-light-grey);
}

/* SVG */
.feature-section-icon {
  margin-inline: 1.5rem;
  color: white;
  background-color: var(--clr-yellow-2);
  -webkit-mask-image: url("https://svgs.scryfall.io/sets/star.svg?1704085200");
  mask-image: url("https://svgs.scryfall.io/sets/star.svg?1704085200");
}

.feature-section.media {
  padding-inline: 0; 
}

.features {
  --spacer: 1rem;
  border-radius: var(--radius-1);
}

.grid-section {
  display: grid;
  grid-gap: var(--size-2);
  padding-inline: var(--size-2);
}

.home .grid-section {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.feature {
  padding: var(--spacer);
  background-color: rgb(29, 57, 81);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.slide-show-btn *,
.slide-view-btn * {
  pointer-events: none;
}

.feature-content {
  padding: var(--spacer);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--radius-1);
}

.feature:last-of-type {
  margin-block-end: 0;
}

.feature-header {
  margin-block-end: var(--size-1);
  border-radius: var(--radius-1);
}

.feature-image {
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 15%;
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  aspect-ratio: 9 / 6;
  box-shadow: var(--shadow-1);
}

.feature-title {
  width: 100%;
  padding-block: 0.75rem;
  margin-block-end: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(var(--fs-150), 4.5vw, var(--fs-200));
  letter-spacing: 0.1rem;
  color: var(--clr-light-grey);
  font-weight: 500;
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.feature-body {
  position: relative;
  color: var(--clr-light-grey);
  padding: max(0.5vw, 1rem);
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.feature-body p {
  display: flex;
  align-items: center;
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  margin-bottom: 0.5rem;
}
.feature-body p:last-of-type { 
  margin-bottom: 0;
}

.feature-body svg {
  display: block;
  size: 18;
}

.feature-footer {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-block-start: var(--size-1);
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.feature-footer .btn {
  width: 100%;
  background-color: rgba(42, 73, 101, 0.7);
  font-size: clamp(var(--fs-100), 3.5vw, var(--fs-150));
  color: var(--clr-light-grey);
  border-radius: var(--radius-1);
}

.line-icon {
margin-right: 0.7rem;
}

.img-container {
border-radius: 100%;
}
.img-container img { 

  margin: 0 auto;
}

.banner {
  width: 100%;
  min-width: 37rem;
  padding-block-end: var(--section-gap);
}

.banner-content {
  position: relative;
  top: 0;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 50% 25%;
  background-color: var(--clr-primary);
  z-index: 1000;
  aspect-ratio: 16 / 9;
  }
  
  .banner-link {
  display: block;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--clr-grey);
  font-size: clamp(var(--fs-150), 3vw, var(--fs-300));
  font-weight: 500;
  background-color: rgba(42, 73, 101, 1);
  border: 2px solid var(--clr-grey);
  border-radius: var(--radius-1);
  }

.home-page-banner {
background-image: url("https://cards.scryfall.io/png/front/8/1/817f782f-7e62-44b3-9bb2-3a57d34dfe67.png?1682690866"
);
}

.about-page-banner {
background-image: url("https://cards.scryfall.io/art_crop/front/9/f/9f9f5e0c-8bf4-46ab-ad79-332ceeaed3d5.jpg?1681768912"
);
}

.not-found-banner {
background-image: url('https://cards.scryfall.io/art_crop/front/5/9/597a8a8f-84ff-4041-9c99-938454a47951.jpg?1702429856');
}

/* No card collection page */
.message-section {
margin-block-start: var(--size-2);
}


/* //////////////// */
/* // Auth Views //*/
/* ///////////// //*/

.message-body p {
font-weight: 400;
font-size: var(--fs-150);
line-height: 1.6;
margin-block-end: 1rem;
}


.message-link {
font-size: var(--fs-150);
display: flex;
align-items: center;
justify-content: center;
padding: 1.5rem;
text-align: center;
color: var(--clr-light);
background-color: var(--clr-primary);
border: 1px solid var(--clr-grey);
border-radius: 5px;
}

.message-link svg {
margin-inline-start: 1rem;
width: 2rem;
height: 2rem;
}

/* MainFooter styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 37rem;
  min-height: var(--header-height);
  max-width: 1350px;
  color: var(--clr-grey);
  background-color: var(--clr-primary);
  font-size: var(--fs-100);
}

.footer p {
  padding-block: var(--size-1);
}

/*****************/
/***** MODAL *****/
/*****************/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 37rem;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3000;
}

.modal {
  height: 100%;
  margin-inline: auto;
  /* margin-block-start: 2.5rem; */
}

.modal-state {
  width: calc(100vw - 4rem);
  height: 100%;
  margin: 0 auto;
  margin-block-start: 2rem;
  background: rgba(0, 0, 0, 0);
  border-radius: var(--radius-1);
}

.modal-state-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: fit-content;
  /* height: max(60rem, 80vh); */
  background-color: var(--clr-light);
  border-radius: var(--radius-1);
  margin: auto;
  width: 100%;
  }

.modal-header {
  width: 100%;
  padding-block: 1.5rem;
}

.modal-title {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.modal-title h2 {
  color: var(--clr-light);
}

.modal-body {
  width: 100%;
  padding: 2rem;
  flex-grow: 1;
  z-index: 0;
}

.modal-section {
  display: flex;
  gap: 1rem;
  width: 100%;
  z-index: 0;
}

.modal-footer {
  padding-inline: 2rem;
  padding-block: 1.5rem;
 
}

.modal-warning {
  padding-block-start: 2rem;
}

.warning-message {
    padding: 1rem;
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.modal-check {
  margin: 13rem auto;
}

.modal-check svg { 
  width: 14rem;
  height: 14rem;
}

.modal-view {
  position: relative;  
  height: 100%;
  min-width: 37rem;
  padding-block-start: clamp(4rem, calc(7vh + 15px), 12rem);
}

.modal-view-content {
  perspective: 1500px;
  width: 100%;
  height: 100%;
}

.modal-image {
  display: block;
  width: clamp(31.5rem, calc(80vw + 10px), 50rem);
  height: auto;
  margin: 0 auto;
  border-radius: 1.7rem;
  box-shadow: var(--shadow-3);
}

.rotate-y-180 {
  z-index: 8000;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.rotate-y-0 {
  transform: rotateY(0deg) !important;
  -webkit-transform: rotateY(0deg) !important;
}

.rotate-x-180 {
  transform: rotateX(180deg) !important;
  -webkit-transform: rotateX(180deg) !important;
}

.invert {
  fill: rgba(255, 255, 255, 0.5) !important;
}

.rotate-90 {
  transform: rotate(90deg) scale(0.8);
  -webkit-transform: rotate(90deg) scale(0.8);
  
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.view-close-btn {
  top: -6rem;
  right: 2rem;
}

.action-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 5rem;
  height: 5rem; */
  width: clamp(5.2rem, calc(10vw + 5px), 6rem);
  height: clamp(5.2rem, calc(10vw + 5px), 6rem);
  fill: var(--clr-light);
  top: min(calc(clamp(31rem, calc(80vw + 10px), 55rem) * 1.45), 72.5rem);
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  z-index: 6000;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  border: 3px solid var(--clr-light-grey);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.card-action-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 5rem;
  height: 5rem; */
  width: 4rem;
  height: 4rem;
  fill: var(--clr-light);
  /* top: min(calc(clamp(31rem, calc(80vw + 10px), 55rem) * 1.45), 72.5rem); */
  top: calc(calc(100% / 2) - 2rem);
  right: -4.7rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  z-index: 1000;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  border: 3px solid var(--clr-light-grey);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.action-btn svg {
  width: clamp(3rem, calc(7vw + 1px), 4rem) !important;
  height: clamp(3rem, calc(7vw + 1px), 4rem) !important;
}

.card-action-btn svg {
  width: 2rem;
  height: 2rem;
}

.card-action-btn svg path,
.action-btn svg path { 
  fill: var(--clr-light);
}

.catalog-slide-container {
  min-height: inherit;
}



.double-faced-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.single-faced-card {
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}
  
.double-faced-recto, 
.double-faced-verso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.double-faced-verso {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* ////////////////// */
/* /// Slide Show /// */
/* ////////////////// */

.slide-show {
  position: relative;  
  height: 100%;
  min-width: 37rem;
  /* background: rgba(0, 0, 0, 0.7); */
}

.slide-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  transition: left 0.4s ease;
}

.slide-frame {
  position: absolute;
  top: clamp(4rem, calc(7vh + 15px), 12rem);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: clamp(31rem, calc(80vw + 10px), 55rem);
  min-height: calc(clamp(31rem, calc(80vw + 10px), 55rem) * 1.392);
}

.modal-slide-container {
  padding-block-start: clamp(4rem, calc(7vh + 15px), 12rem);
}

.slide {
  position: relative;
  perspective: 1500px;
  width: 100%;
  height: 100%;
  min-height: inherit;
}

.slide-btn {
  top: calc((calc(clamp(31rem, calc(80vw + 10px), 55rem) * 1.3) - 7rem) / 2) ;
}

.slide-left-btn {
  left: -5rem;
}
.slide-right-btn {
  right: -5rem;
}

.slide-close-btn {
  top: -6rem;
  right: -2rem;
}

.card-btn {
  height: 7rem;
  width: 7rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  z-index: 3000;
}

.card-btn > svg {
  width: 50%;
  height: 50%;
}

.card-btn svg,
.indicator svg {
  color: var(--clr-light) !important;
}

.card-btn * {
  pointer-events: none;
}
 
.card-btn:hover { 
  cursor: pointer;
}

.indicators {
  position: absolute;
  left: 0;
  right: 0;
  top: min(calc(clamp(31rem, calc(80vw + 10px), 55rem) * 1.7), 81rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  min-height: 3rem;
  z-index: 6001;
}

.indicator svg {
  width: clamp(1.4rem, calc(3vw + 3px), 2rem) !important;
  height: clamp(1.4rem, calc(3vw + 3px), 2rem) !important;
  stroke-width: 0.8;
  vertical-align: middle;
}

.current-indicator svg {
  display: block;
  height: 2rem;
  width: 2rem;
}

/* ////////////////////////// */
/* /// Search Result View /// */
/* ////////////////////////// */
.breadcrumbs {
  display: flex;
  align-items: center;
  max-width: 135rem;
  margin: auto;
  padding-inline: 1rem;
  min-height: 3rem;
}

.breadcrumbs .crumb {
  display: inline-block;
  align-self: center;
  margin-inline-end: 0.3rem;
  /* line-height: 1; */
  font-size: clamp(11.5px, calc(0.5vw + 5px), var(--fs-150));
}

.breadcrumbs .crumb::after {
  content: '>';
  margin-inline-start: 0.3rem;
  vertical-align: middle;
  font-size: clamp(var(--fs-100), calc(0.5vw + 5px), var(--fs-150));

}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.dashboard-nav {
width: 100%;
min-width: 37rem;
/* z-index: 1000; */
}

.contextual-links {
  display: flex;
  min-height: 4rem;
}

.contextual-links > a {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
border-top: 1px solid var(--clr-light-border);
border-right: 1px solid var(--clr-light-border);
}

.contextual-links > a:last-of-type {
  border-right: none;
}

.dashboard-nav a span {
pointer-events: none;
font-size: var(--fs-125);
font-weight: 500;
margin: auto;
}

.active {
color: var(--clr-primary);
background-color: var(--clr-light);
}

.inactive {
color: var(--clr-grey);
background-color: var(--clr-primary);
}


.search-count {
  position: fixed;
  display: flex;
  top: 5rem;
  left: 0;
  width: 100vw;
  min-width: 37rem;
  min-height: 4rem;
  margin: auto;
  padding-inline: 1rem;
  background-color: var(--clr-primary);
  transition: top 0.2s ease-in;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

.search-count * {
  font-size: (var(--fs-125));
  font-weight: 500;
    color: var(--clr-grey);
  }
  
  .search-count .inner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: calc(1350px - 4rem);
    margin-inline: auto;
  }

.move-count {
  top: 0 !important;
}

.back-btn {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.4;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  align-items: center;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-grey);
  border-radius: 3px;
}

.result-details * {
  display: block;
}

.result-title svg {
  display: block;
  font-weight: 300;
  font-size: var(--fs-150);
  color: var(--clr-danger);
}

/* ////////////////// */
/* /// Parameters /// */
/* ////////////////// */

.parameters {
  display: none;
  position: sticky;
  top: 5rem;
  left: 0;
  z-index: 1001;
}

.parameters-container {
  position: relative;
}

.parameters-list {
  position: absolute;
  top: 0;
  left: -25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: calc(100vh - 5rem);
  width: 25rem;
  background-color: var(--clr-light-grey);
  box-shadow: 9px 0px 15px -3px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.parameters-btn {
  position: absolute;
  /* bottom: calc(-100vh + 20rem); */
  top: 0.2rem;
  left: -1rem;
  min-height: 4rem;
  max-width: 5rem;
  padding: 1rem;
  background: var(--clr-light-grey);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.3s ease-in-out;
  z-index: 6000;
}

.parameters-btn * {
  pointer-events: none;
}

.parameters-icon {
  display: block;
  transition: all 0.3s ease-in-out;
}

.parameters-btn svg {
  position: relative;
  left: 0.2rem;
  fill: var(--clr-primary);
  stroke: var(--clr-primary);
  stroke-width: 2.5;
  margin: auto;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}
.move-panel {
  left: 0;
}

.rotate-icon {
 transform: rotate(-135deg);
 -webkit-transform: rotate(-135deg);
}

.hide-btn {
  left: -8rem;
}

.move-btn {
  left: 20rem;
}

.hide-nav {
  top: -5rem;
}

.hide-auth-menu {
  top: -9rem;
}

.contact-link {
margin-top: 0.5em;
text-align: center;
}

.contact-link a  {
  padding-block: 0.5em;
  padding-inline: 1em;
  display: block;
  font-size: var(--fs-125);
  color: var(--clr-primary);
}


/* ///////////////////////////////// */
/* /// Search-Results & Products /// */
/* ///////////////////////////////// */


.count {
  font-size: var(--fs-150);
}

.search-results {   

  position: relative;
}

.product-title {
  font-size: clamp(13px, calc(1vw + 5px), var(--fs-200));
  font-weight: 400;
}

.product-header p {
  font-size: clamp(var(--fs-125), calc(1vw + 5px), var(--fs-150));
  font-weight: 400;
}

.product-info table {
  width: 100%;
  font-size: 9px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border-radius: 5px;
}

.product-info tr {
  width: 100%;
}

.product-info td:nth-of-type(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.product-info td:nth-of-type(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.product-info td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 0.3rem;
  padding-inline-start: 5px;
}

.product-info td img {
  vertical-align: middle;
}

.detail-title {
  font-weight: 500;
}

.detail-value {
  font-weight: 400;
}

.product-info tr:nth-child(odd) {
  background: var(--clr-light-grey);
}

/* //////////////////////////// */
/* /////// Product Image ////// */
/* //////////////////////////// */

.collection-btn,
.catalog-btn,
.archive-btn {
  top: 13%;
  right: 11%;
}

.drop-top {
  top: 13%;
  right: 11%;
}

.drop-mid {
  top: 38%;
  right: 11%;
}

.drop-bottom {
  bottom: 7%;
  right: 7%;
}

.drop-btn {  
  padding: 0.5rem;
  width: clamp(3.7rem, calc(5vw + 12px), 6rem);
  height: clamp(3.7rem, calc(5vw + 12px), 6rem);
}

.drop-btn svg {
  width: 100%;
  height: 100%;  
}

.drop-btn .cart-svg {
  width: calc(100% - 0.2rem);
}

.show-details {
  height: 40rem;
}

.catalog-handlers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about {
  color: var(--clr-light);
}

.about a {
  color: var(--clr-light-grey);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* ///////////////////// */
/* /// Shopping Cart /// */
/* ///////////////////// */

.cart-aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  min-height: 8rem;
  padding: 1em;
  background: var(--clr-light);
}

.cart-aside * {
  color: var(--clr-dark);
}

.cart-total {
  display: flex;
  align-items: center;
  font-size: var(--fs-150);
}

.cart-price {
  padding-block-end: 1rem;
  margin-left: auto;
  margin-bottom: 1rem;
 }

 .cart-price * {
  color: var(--clr-dark);
 }

.checkout-btn {
  padding-block: 1rem;
  width: 100%;
  color: var(--clr-dark);
  background: var(--clr-yellow);
  box-shadow: var(--shadow-1)
}

.product-actions {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: flex-end;
 }

.product-btn {
  width: 25%;
}

.product-dropdown {
  width: 25%;
}

.dropdown {
  position: relative;
  overflow: hidden;
  align-self: center;
}

.dropdown:before,
.dropdown:after {
  content: '';
  position: absolute;
  width: 0; 
	height: 0; 
}

.dropdown select {
  min-height: 3rem;
  padding: 0.5rem 1rem;
  color: var(--clr-dark);
  font-size: var(--fs-125);
  background: var(--clr-light-grey);
  border-radius: var(--radius-1);
  /* source @ https://codepen.io/vkjgr/pen/VYMeXp */
  background-image:
    linear-gradient(45deg, transparent 50%, var(--clr-primary) 50%),
    linear-gradient(135deg, var(--clr-primary) 50%, transparent 50%),
    linear-gradient(var(--clr-secondary), var(--clr-secondary));
  background-position:
    calc(100% - 15px) calc(1.1rem + 2px),
    calc(100% - 10px) calc(1.1rem + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.cart-item {
  position: absolute;
  right: -4rem;
  top: 0;
}

.cart-item .item-count {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.3rem;
  right: -0.3rem;
  font-size: 8px;
  text-align: center;
  background: var(--clr-surface);
}

.item-count span {
  align-self: center;
  display: inline-block;
  width: 100%;
 text-align: center;
}


.quantity {
  border-bottom: 1px solid var(--clr-light-grey);
  padding-block-start: 0.3rem;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--clr-light);
  z-index: 5000;
}

.modal-message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-light);
  z-index: 5000;
}

.product-seller {
  position: absolute;
  right: 0;
  z-index: 8001;
}



.product-detail {
  font-size: clamp(11px, calc(1.2vw + 5px), var(--fs-150));
  line-height: 1.6;
}

.product-detail span * {
  vertical-align: middle;
}

.color-identity {
  height: fit-content;
}

.color-symbols .color-symbol {
  width: clamp(12.5px, calc(1vw + 5px), 15px);
  display: inline-block;
  margin-inline-start: 0.4rem;
}

/* Generic styles */
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.list-item {
  width: 100%;
}

/* Pages */
.page {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  color: var(--clr-dark) !important;
}

.page-header  {
  color: var(--clr-dark);
  border-bottom: 1px solid var(--clr-dark);
}

.page-title {
  text-align: center;
  font-size: var(--fs-250);
  font-weight: 300;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  background: var(--clr-secondary);
}

.d-mobile-menu {
  width: 100% !important;
  left: 0 !important;
}

.d-desktop-menu {
  width: 100% !important;
  left: 70% !important;
}

/* new item */

.card {
  position: relative;
  padding: 1rem;
  background: var(--clr-light);
}

.product-view {
  width: min-content;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 340px;
  width: 244px;

  margin-block: 1rem;
}

.product-wrapper {
  /* position: absolute; */
  top: 345px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-legend {
  bottom: 0;
  top: 0;
  right: -4.7rem;
}

.lazyload-wrapper {
  width: 244px;
  height: 34rem;
}

.image-container {
  height: 340px;
  width: 244px;
}


.cart-item-image,
.product-image {
  position: relative;
  width: 100%;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  margin-inline: auto;
}

.product-card {
  display: grid;
  grid-template-areas: 
  "one one one one"
  "two two three three"
  "two two three three"
  "two two four four"
  "two two four four";
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.product-card .one {
  grid-area: one;
  /* width: 100%; */
}

.product-card .two {
  grid-area: two;
}

.product-card .three {
  grid-area: three;
}

.product-card .four {
  grid-area: four;
 height: min-content;
 margin-top: auto;
}

.product-image,
.product-info {
  /* width: 100%; */
  border-radius: 4.25%;
  vertical-align: middle;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.product-info {
  padding: 1rem;
  min-height: 340px;
  min-width: 244px;
  background: var(--clr-light);
  /* background: #80A9B0; */
  /* background:#576042; */
}

.product-info * {
  /* font-size: clamp(11.5px, calc(1vw + 5px), var(--fs-150));
  line-height: 1.6; */
}

.product-finish {
  border-radius: 12.5px 0 0 0;
  border-color: #353b41 transparent transparent #353b41;
  border-style: solid;
  border-width: 2.5rem;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
} 

.product-finish span {
  position: absolute;
  top: -16px;
  left: -18px;
  color: #ffe600;
  font-size: 12px;
  font-weight: 700;
  transform: rotate(-45deg);
}

.product-count {
  position: absolute;
  font-size: var(--fs-125);
  top: 2rem;
  right: -4.6rem;
  color: var(--clr-dark);
}

.layout .product-count {
  color: var(--clr-light);
}

.product-price {
  top: 5%;
  left: 5%;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  line-height: 1.6;
  color: var(--clr-dark);
  font-size: var(--fs-150);
  font-weight: var(--fw-700);
  background: rgba(255, 255, 255, 1);
  border: 3px solid var(--clr-surface);
  border-radius: 5px;
  box-shadow: var(--shadow-2);
}

.expand-icon * {
  color: var(--clr-light);
}



