/* Open props */
:root {
  /* site colors */
  /* --clr-primary: #ee6352; */
  
  --clr-transparent: rgba(0, 0, 0, 0);
  --clr-primary: rgb(19, 74, 109);
  --clr-secondary: rgb(225, 232, 237);
  --clr-surface:  rgb(80, 80, 80);
  --clr-eclipse: rgb(41, 46, 51);
  --clr-alloy: rgb(54, 57, 59);
  /* --clr-alloy: rgb(51, 61, 68); */
  --clr-ternary: rgb(250, 250, 211);
  --clr-dark: #2C2C2C;
  --clr-night: rgb(34, 36, 40);
  --clr-grey: rgb(219, 219, 219);
  --clr-light-border: rgba(255, 255, 255, 0.3);
  --clr-light-grey: #F7F7F7;
  --clr-light: rgb(252, 252, 252);
  --clr-success: #49A078;
  --clr-danger: rgb(220, 53, 69);
  --clr-warning: #f5cc15;
  --clr-foil: #ff6e34;
  --clr-etched: rgb(145, 216, 145);
  --clr-teal: #3598d1;

  

  /* font sizes */
  --fs-500: 5rem;
  --fs-400: 4rem;
  --fs-375: 4rem;
  --fs-350: 3.5rem;
  --fs-300: 3rem;
  --fs-275: 2.75rem;
  --fs-250: 2.5rem;
  --fs-225: 2.25rem;
  --fs-200: 2rem;
  --fs-175: 1.75rem;
  --fs-150: 1.5rem;
  --fs-125: 1.25rem;
  --fs-100: 1rem;
  --fs-075: 0.75rem;
  --fs-050: 0.5rem;
  --fs-form: 1.6rem;

  /* font weight */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-350: 350;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  
  /* size */
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-5: 5rem;
  --size-6: 6rem;
  --size-9: 9rem;

  /* header heights */
  --header-height: 5rem;
  --header-height-wide: 6rem;
  --auth-header-height: 9rem;
  --auth-header-height-wide: 11rem;
  --footer-height: 5rem;
  --footer-height-wide: 6rem;

  /* Width */
  --max-width: 40rem;

  --auth-mobile: 14rem;
  --auth-desktop: 16rem;
  --mobile: 10rem;
  --desktop: 5rem;
  --section-gap: 4rem; 


  --top-mobile: 5rem;
  --top-desktop: 6rem;

  --layout-bottom: 5rem;

  /* boder-radius */
  --radius-1: 0.33rem;
  --radius-2: 0.50rem;
  --radius-3: 1rem;
  --card-radius: 4.25%;
  --print-radius: 5.5%;

  --shadow-1: 0px 2px 6px 0px rgba(0,0,0,0.1);
  --shadow-2: 0px 4px 6px 0px rgba(77, 73, 73, 0.2);
  --shadow-3: 0px 4px 6px 0px rgba(0,0,0,0.3);
  --shadow-4: 0px 4px 6px 0px rgba(255,255,255,0.3);
  --print-shadow: 0px 6px 10px -5px rgba(0,0,0,0.1);

  --card-width: 24.5rem;
  --card-height: 34rem;

  font-size: 62.5%;

  /* Hamburger animation style */
  --rotation-before: 0deg;
  --translation-before: 0px 0px;

  --rotation-after: 0deg;
  --translation-after: 0px 0px;

  --opacity-hover: 0.8;

  --opacity-between: 1;

  /* Modal */
  --slide-width: clamp(31.5rem, calc(80vw + 10px), 50rem);
  --slide-heigth: auto;
  /* --slide-heigth: calc(clamp(31.5rem, calc(80vw + 10px), 55rem) * 1.4);  */
}

.check-icon {
  color: var(--clr-success);
  font-size: 4rem;
}

body {
  min-width: 37rem;
  width: 100%;
  height: 100%;
  display: flex;
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-125);
  font-weight: var(--fw-500);
  line-height: 1.5;
  scrollbar-gutter: stable both-edges;
  background-color: var(--clr-light);
}

#root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

a {
color: var(--clr-light);
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 37rem;
  transition: top 0.2s ease-in;
  z-index: 1;
}

.root-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inner-container {
  max-width: 40rem;
  margin: 0 auto;
}

.layout,
.auth-layout {
  width: 100vw;
  min-width: 37rem;
  max-width: 135rem;
  margin: auto;
  flex-basis: 100%;
}

.auth-layout {
  padding-top: var(--auth-header-height);
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
}

.layout {
  padding-block-start: var(--header-height);
}

.layout * {
  color: var(--clr-light);
}

.layout #search-results .list {
  background: var(--clr-eclipse);
  border: 1px solid var(--clr-surface);
  border-radius: var(--radius-2);
}

.layout .shopping-cart .card {
  background: var(--clr-light);
}

.layout #search-results .card {
  background: var(--clr-eclipse);
  border-radius: var(--card-radius);
}

.layout .dropdown * {
  color: var(--clr-dark);
}
.auth-layout .main-header {
  transition: top 0.1s ease-in;
}

.main-content {
  padding: 1.5rem;
}

.card header {
  /* padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--clr-surface); */
}

.card header * {
  background: var(--clr-light);
  color: var(--clr-dark);
}

.card-image {
  /* aspect-ratio: 1 / 1.4; */
  border-radius: var(--card-radius);
}

.layout .product-info {
  background:  #faf4e6 !important;
}

.layout .product-info * {
  font-size: 10px;
  color: var(--clr-eclipse);
  font-weight: var(--fw-500);
}

.auth-layout .breadcrumbs a {
  color: var(--clr-dark);
}

button:hover {
cursor: pointer;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: inherit; */
  height: 100%;
  color: var(--clr-eclipse);
  background: var(--clr-light);
  z-index: 5000;
}

.layout .loader {
  background: var(--clr-eclipse);
  color: var(--clr-light);
}

.loader svg {
display: block;
width: 5rem;
height: 5rem;
animation: animate 0.5s linear infinite;
}

@keyframes animate {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
/* end spinner */


.header {
width: 100%;
padding: 2rem;
margin-block-end: 1rem;
color: var(--clr-light);
border-bottom: 1px solid var(--clr-light)
}

.btn {
min-width: 13rem;
min-height: 3.5rem;
padding-inline: var(--size-2);
/* margin-block: auto; */
font-size: var(--fs-150);
font-weight: 500;
line-height: 1.5;
text-align: center;
background: var(--clr-light-grey);
color: var(--clr-light);
border-radius: var(--radius-1);
}

.btn span {
  height: 100%;
/* align-self: center; */
vertical-align: middle;
}

.btn-small {
  /* display: inline-block; */
  min-height: 3rem;
  align-self: center;
  min-width: 8.5rem;
  font-weight: 500;
  line-height: 1.5;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin: 0 auto;
  color: var(--clr-light-grey);
  background: var(--clr-grey);
  border-radius: var(--radius-1);
}

.btn-tiny {
  min-height: 3rem;
  min-width: 3rem;
  width: 100%;
  height: 100%;
  padding-inline: 0.5rem;
  margin: auto;
  color: var(--clr-light-grey);
  border-radius: var(--radius-1);
}

.btn-tiny svg {
  /* width: 2rem;
  height: 2rem; */
  width: 100%;
  height: 100%;
  display: flex;

}

.btn:hover {
  opacity: 0.8;
}


.btn-collection {
  font-size: var(--fs-150);
  padding-block: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  margin-inline: auto;
  margin-block-start: 1rem;
  color: var(--clr-light-grey);
  border-radius: var(--radius-1);
  max-width: clamp(20rem, 100%, 60rem) !important;
}

.btn-api {
  width: var(--card-width) !important;
}

.article {
flex-basis: 100%;
margin-inline: auto;
}

.article-title {
padding: 2rem;
font-weight: 300;
text-align: center;
}

/* Not found search page */
.not-found {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.layout .not-found  {
  color: var(--clr-light) !important;
}

.not-found > main,
.not-found > footer {
padding-inline: 2rem;
text-align: center;
}


.not-found p,
.not-found h2 {
margin-block: 1rem;
line-height: 1.8;
color: var(--clr-primary);
text-align: center;
}

.not-found h2 {
font-size: var(--fs-250);
}

.not-found p {
font-size: var(--fs-175);
font-weight: 500;
}

.not-found-btn {
font-size: var(--fs-175);
font-weight: 500;
width: 50%;
padding-block: 1rem;
color: var(--clr-light);
background-color: var(--clr-primary);
border: 1px solid var(--clr-grey);
border-radius: 5px;
}

/* ************************************************************ */

/* source @ https://www.youtube.com/watch?v=3yfswsnD2sw&t=1532s */

/* ************************************************************ */
.media-scroller {
--spacer: 1.4rem;
display: grid;
gap: var(--size-2);
grid-auto-flow: column;
grid-auto-columns: clamp(27rem, calc(29vw + 15px), 29rem);
padding-inline: var(--size-2);
overflow-x: auto;
overscroll-behavior-inline: contain;
}

.media-element {
display: grid;
grid-template-rows: min-content;
gap: var(--spacer);
padding: var(--spacer);
background-color: var(--clr-surface);
border-radius: var(--radius-1);
box-shadow: var(--shadow-3);
}

.media-element > button {
  border-radius: var(--radius-2);
  background-color: var(--clr-surface);
}

.media-element img {
inline-size: 100%;
object-fit: cover;
border-radius: 4%;
}

.media-element > p {
color: var(--clr-light-grey);
text-align: center;
font-weight: 400;
font-size: var(--fs-125);
}

.snaps-inline {
scroll-snap-type: inline mandatory ;
scroll-padding-inline: var(--spacer, 1.5rem);
}

.snaps-inline > * {
scroll-snap-align: start;
}

.feature {
  margin-block-end: 2rem;
}

.feature-title {
  display: flex;
  align-items: center;
  font-size: clamp(var(--fs-175), 4vw, var(--fs-300));
  font-weight: 500;
  padding-block-end: 1rem;
  color: var(--clr-light-grey);
  border-bottom: 1px solid var(--clr-light-grey);
}

.feature-grid {
  display: grid;
  grid-gap: 2rem;
  border-radius: var(--radius-1);
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding-inline: 2rem;
}

.feature-card {
  padding: 1rem;
  background-color: rgb(29, 57, 81);
  border-radius: 5px;
  box-shadow: var(--shadow-1);
}

/* About & Contact page */
.feature-wrapper {
  padding: 2rem;
}

.feature-section {
  margin-block-end: 2rem;
}

.feature-section h2 {
  margin-inline-start: 1rem;
  padding-block-end: 1rem;
  margin-block-end: 2rem;
  border-bottom: 1px solid var(--clr-light);
}

.feature-section p {
  padding-inline-start: 1.5rem;
  margin-block-end: 1.5rem;
}

.slide-show-btn *,
.modal-btn * { 
  pointer-events: none;
}

.feature-header {
  margin-block-end: 2rem;
  border-radius: var(--radius-1);
  padding-inline: 1.5rem;
}

.feature-card-image {
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 15%;
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  aspect-ratio: 9 / 6;
  box-shadow: var(--shadow-1);
}

.feature-card-title {
  width: 100%;
  padding-block: 0.5rem;
  margin-block-end: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(var(--fs-150), 4.5vw, var(--fs-200));
  letter-spacing: 0.1rem;
  color: var(--clr-light-grey);
  font-weight: 500;
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.feature-list {
  color: var(--clr-light-grey);
  padding: max(0.5vw, 1rem);
  background-color: var(--clr-primary);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.feature-list p  {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.25;
  margin-bottom: 5px;
}

.feature-list p .bullet {
  width: clamp(1.25rem, 3vw, 2rem);
  height: clamp(1.25rem, 3vw, 1.5rem);
}

.bullet svg {
  vertical-align: super;
}

.feature-list p .line {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

.line-icon {
margin-right: 0.7rem;
}

.img-container {
border-radius: 100%;
}
.img-container img { 

  margin: 0 auto;
}

.banner {
  width: 100%;
  min-width: 37rem;
  margin-bottom: 2rem;
}

.banner-content {
  position: relative;
  top: 0;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 50% 25%;
  background-color: var(--clr-primary);
  z-index: 1000;
  aspect-ratio: 16 / 9;
  }
  
  .banner-link {
  display: block;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--clr-grey);
  font-size: clamp(var(--fs-150), 3vw, var(--fs-300));
  font-weight: 500;
  background-color: rgba(42, 73, 101, 1);
  border: 2px solid var(--clr-grey);
  border-radius: var(--radius-1);
  }

.home-page-banner {
background-image: url("https://cards.scryfall.io/png/front/8/1/817f782f-7e62-44b3-9bb2-3a57d34dfe67.png?1682690866"
);
}

.about-page-banner {
background-image: url("https://cards.scryfall.io/art_crop/front/9/f/9f9f5e0c-8bf4-46ab-ad79-332ceeaed3d5.jpg?1681768912"
);
}

.not-found-banner {
background-image: url('https://cards.scryfall.io/art_crop/front/5/9/597a8a8f-84ff-4041-9c99-938454a47951.jpg?1702429856');
}

/* No card collection page */
.message-section {
margin-block-start: var(--size-2);
}




/* //////////////// */
/* // Auth Views //*/
/* ///////////// //*/

.message-body p {
font-weight: 400;
font-size: var(--fs-150);
line-height: 1.6;
margin-block-end: 1rem;
}


.message-link {
font-size: var(--fs-150);
display: flex;
align-items: center;
justify-content: center;
padding: 1.5rem;
text-align: center;
color: var(--clr-light);
background-color: var(--clr-primary);
border: 1px solid var(--clr-grey);
border-radius: 5px;
}

.message-link svg {
margin-inline-start: 1rem;
width: 2rem;
height: 2rem;
}

/* MainFooter styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 37rem;
  min-height: var(--header-height);
  max-width: 1350px;
  margin-block-start: 2rem;
  color: var(--clr-grey);
  background-color: var(--clr-primary);
  font-size: var(--fs-100);
}

.footer p {
  padding-block: var(--size-1);
}

/*****************/
/***** MODAL *****/
/*****************/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 37rem;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.modal {
  height: 100%;
  margin-inline: auto;
}

.modal-state-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: fit-content;
  /* height: max(60rem, 80vh); */
  background-color: var(--clr-light);
  border-radius: var(--radius-1);
  margin: auto;
  width: 100%;
  }

.modal-header {
  width: 100%;
  padding-block: 1rem;
}

.modal-title {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.modal-title h2 {
  color: var(--clr-light);
}

.modal-body {
  width: 100%;
  padding: 1rem 2rem;
  flex-grow: 1;
  z-index: 0;
}

.modal-section {
  display: flex;
  gap: 1rem;
  width: 100%;
  z-index: 0;
}

.modal-footer {
  padding-inline: 2rem;
  margin-block-end: 2rem;
 
}

.modal-warning {
  padding-block-start: 2rem;
}

.warning-message {
    padding: 1rem;
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.modal-check {
  margin: 13rem auto;
}

.modal-check svg { 
  width: 14rem;
  height: 14rem;
}

.action-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(5.2rem, calc(10vw + 5px), 6rem);
  height: clamp(5.2rem, calc(10vw + 5px), 6rem);
  /* top: min(calc(clamp(31rem, calc(80vw + 10px), 55rem)* 1.45), 72.5rem); */
  right: clamp(3rem, calc(7vw + 5px), 5rem);
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 5000;
  border: 3px solid rgba(255, 255, 255, 0.9); 
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

.reversible-btn {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-btn {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.close-modal {
  position: absolute;
  top: -5rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem; 
  background: transparent;  
}

.action-btn svg {
  width: clamp(3rem, calc(7vw + 1px), 4rem) !important;
  height: clamp(3rem, calc(7vw + 1px), 4rem) !important;
  fill: var(--clr-light);
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

/* source @ https://forum.blocsapp.com/t/css-backface-visibility-issue-solved/20229/4 */
.rotate-y-180 {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  z-index: 8000;
}

.rotate-y-0,
.rotate-x-180 { 
background: rgba(255, 255, 255, 0.5);
border: 3px solid var(--clr-dark); 
}

.rotate-y-0 {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.rotate-x-180 {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(0deg);
}

.rotate-y-0.action-btn svg,
.rotate-x-180.action-btn svg {
  fill: var(--clr-dark);
}

.rotate-90 {
  transform: rotate(90deg) scale(0.8);
  -webkit-transform: rotate(90deg) scale(0.8);
}

.rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.card-action-btn {
  position: absolute;
  display: block;
  transform-style: flat;
  width: 4.2rem;
  height: 4.2rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  z-index: 9000 !important;
  transform: translateZ(0.01px);
  -webkit-transform: translateZ(0.01px);
  border: 3px solid var(--clr-eclipse);
  transition: all 300s;
  -webkit-transition: all 300ms;
}

.card-action-btn:hover {
  opacity: 0.8;
}

.card-action-btn svg path:nth-of-type(1) {
  fill: var(--clr-eclipse);
}

.card-action-btn svg path:nth-of-type(2) {
  fill: var(--clr-eclipse);
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  bottom: 0;
  top: 0;
  right: -5.5rem;
  perspective: 130px;
  perspective: 1000px;
  perspective-origin: center center;
}

.control-btn {
 position: relative;
  width: 4.2rem;
  height: 4.2rem;
  padding: 0.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.success {
  color: var(--clr-success);
  border: 2px solid var(--clr-success);
}
.primary {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
}
.danger {
  color: var(--clr-danger);
  border: 2px solid var(--clr-danger);
}

.dark {
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
}
.eclipse {
  border: 2px solid var(--clr-eclipse);
}

.eclipse > svg path:nth-of-type(1) {
  fill: var(--clr-eclipse) !important;
}
.eclipse > svg path:nth-of-type(2) {
  fill: var(--clr-surface) !important;
}

.control-btn svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.control-btn .cart-svg {
  width: calc(100% - 0.2rem);
}

.catalog-slide-container {
  min-height: inherit;
}

.one-sided {
  transition: transform 300ms, -webkit-transform 300ms, -o-transition 300ms ease-in-out;
}

/* ////////////////// */
/* /// Slide Show /// */
/* ////////////////// */
.slide-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  transition: left 0.4s ease;
  padding-block-start: clamp(4rem, calc(7vh + 15px), 12rem);
}

.modal {
  position: relative;
  margin-top: clamp(4rem, calc(7vh + 15px), 12rem);
  height: 100%;
  min-width: 37rem;
  
}

.slide {
  position: absolute;
  /* top: clamp(4rem, calc(7vh + 15px), 12rem); */
  right: 0;
  left: 0;
  margin: 0 auto;
  width: var(--slide-width);
  aspect-ratio: 1 / 1.4;
  z-index: 5;
}

.slide .flip,
.slide .split,
.slide .reversible {
  width: 100%;
  height: 100%;
}

/* //////////////// */
/* Reversible cards */
/* //////////////// */
.reversible {
  perspective: 2000px;
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-inner {
  position: relative;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15); */
}

.card-front, 
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; /* Safari */
  z-index: 5;
}

.card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); 
}

/* /////////////// */
/* One sided cards */
/* layouts: ///////*/
/* normal /////////*/
/* flip ///////////*/
/* split ///////// */
/* /////////////// */
.slide-image {
  display: block;
  width: var(--slide-width);
  height: var(--slide-heigth);
  margin: 0 auto; 
  border-radius: 1.7rem;
  box-shadow: var(--shadow-3);
}

.normal .flip .split {
  position: absolute;
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

.slide-left-btn {
  left: -5rem;
}

.slide-right-btn {
  right: -5rem;
}

.slide-btn {
  height: 7rem;
  width: 7rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  z-index: 6000;
}

.slide-btn * {
  pointer-events: none;
}
 
.slide-btn:hover { 
  cursor: pointer;
}

.indicators {
  position: absolute;
  left: 0;
  right: 0;
  top: min(calc(clamp(31rem, calc(80vw + 10px), 55rem) * 1.7), 81rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  min-height: 3rem;
  z-index: 6001;
}

.indicator svg {
  width: clamp(1.4rem, calc(3vw + 3px), 2rem) !important;
  height: clamp(1.4rem, calc(3vw + 3px), 2rem) !important;
  stroke-width: 0.8;
  vertical-align: middle;
}

.current-indicator svg {
  display: block;
  height: 2rem;
  width: 2rem;
}

/* ////////////////////////// */
/* /// Search Result View /// */
/* ////////////////////////// */
.breadcrumbs {
  display: flex;
  align-items: center;
  max-width: 135rem;
  margin-inline: auto;
  padding-inline: 1rem;
  min-height: 3rem;
  width: 100%;
}

.breadcrumbs .crumb {
  display: inline-block;
  align-self: center;
  margin-inline-end: 0.3rem;
  /* line-height: 1; */
  font-size: clamp(11.5px, calc(0.5vw + 5px), var(--fs-150));
}

.breadcrumbs .crumb::after {
  content: '>';
  margin-inline-start: 0.3rem;
  vertical-align: middle;
  font-size: clamp(var(--fs-100), calc(0.5vw + 5px), var(--fs-150));

}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.dashboard-nav {
width: 100%;
min-width: 37rem;
background: var(--clr-primary);
border-top: 1px solid var(--clr-light-border);
/* z-index: 1000; */
}

.contextual-links {
  display: flex;
  min-height: 4rem;
  max-width: 135rem;
  margin: auto;
}

.contextual-links > a {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
border-right: 1px solid var(--clr-light-border);
}

.contextual-links > a:last-of-type {
  border-right: none;
}

.dashboard-nav a span {
pointer-events: none;
font-size: var(--fs-125);
font-weight: 500;
margin: auto;
}

.active {
color: var(--clr-primary);
background-color: var(--clr-light);
}

.inactive {
color: var(--clr-grey);
background-color: var(--clr-primary);
}


.search-count {
  position: fixed;
  display: flex;
  top: 5rem;
  left: 0;
  width: 100vw;
  min-width: 37rem;
  min-height: 4rem;
  margin: auto;
  padding-inline: 1rem;
  background-color: var(--clr-primary);
  transition: top 0.2s ease-in;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

.search-count * {
  font-size: (var(--fs-125));
  font-weight: 500;
    color: var(--clr-grey);
  }
  
  .search-count .inner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: calc(1350px - 4rem);
    margin-inline: auto;
  }

.move-count {
  top: 0 !important;
}

.back-btn {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.4;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  align-items: center;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-grey);
  border-radius: 3px;
}

.result-details * {
  display: block;
}

.result-title svg {
  display: block;
  font-weight: 300;
  font-size: var(--fs-150);
  color: var(--clr-danger);
}

/* ////////////////// */
/* /// Parameters /// */
/* ////////////////// */

.parameters {
  display: none;
  position: sticky;
  top: 5rem;
  left: 0;
  z-index: 1001;
}

.parameters-container {
  position: relative;
}

.parameters-list {
  position: absolute;
  top: 0;
  left: -25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: calc(100vh - 5rem);
  width: 25rem;
  background-color: var(--clr-light-grey);
  box-shadow: 9px 0px 15px -3px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.parameters-btn {
  position: absolute;
  /* bottom: calc(-100vh + 20rem); */
  top: 0.2rem;
  left: -1rem;
  min-height: 4rem;
  max-width: 5rem;
  padding: 1rem;
  background: var(--clr-light-grey);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all 0.3s ease-in-out;
  z-index: 6000;
}

.parameters-btn * {
  pointer-events: none;
}

.parameters-icon {
  display: block;
  transition: all 0.3s ease-in-out;
}

.parameters-btn svg {
  position: relative;
  left: 0.2rem;
  fill: var(--clr-primary);
  stroke: var(--clr-primary);
  stroke-width: 2.5;
  margin: auto;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}
.move-panel {
  left: 0;
}

.rotate-icon {
 transform: rotate(-135deg);
 -webkit-transform: rotate(-135deg);
}

.hide-btn {
  left: -8rem;
}

.move-btn {
  left: 20rem;
}

.hide-nav {
  top: -5rem;
}

.hide-auth-menu {
  top: -9rem;
}

.contact-link {
margin-top: 0.5em;
text-align: center;
}

.contact-link a  {
  padding-block: 0.5em;
  padding-inline: 1em;
  display: block;
  font-size: var(--fs-125);
  color: var(--clr-primary);
}

/* ///////////////////////////////// */
/* /// Search-Results & Products /// */
/* ///////////////////////////////// */

.search-results {   
  position: relative;
}

.back-side {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.product-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.product-table {
  width: 100%;
  font-size: 9px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.product-info tr {
  width: 100%;
}

.product-info td:nth-of-type(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.product-info td:nth-of-type(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.product-info td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 0.5rem;
  padding-inline-start: 5px;
  line-height: 1;
}

.spec-title {
  font-weight: 500;
}

.spec-value {
  font-weight: 400;
}

.product-info td img {
  vertical-align: middle;
}


/* .product tr:nth-child(odd) {
  background: var(--clr-light-grey);
} */


/* //////////////////////////// */
/* /////// Product Image ////// */
/* //////////////////////////// */

.collection-btn,
.catalog-btn,
.archive-btn {
  top: 13%;
  right: 11%;
}

.btn-top-right {
  top: 4.2rem;
  right: 2.1rem;
}

.btn-center-right {
  top: 14.2rem;
  right: 2.1rem;
}

.btn-bottom-center {
  bottom: 0.9rem;
  left: calc(50% - 2rem);
}

.btn-bottom-right {
  bottom: 1.9rem;
  right: 2.1rem;
}

.btn-bottom-left {
  bottom: 0.9rem;
  left: 1.1rem;
}

.product-btn {  
  padding: 0.5rem;
  width: 4.2rem;
  height: 4.2rem;
  color: var(--clr-eclipse);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  border: 2px solid var(--clr-eclipse);
  /* width: clamp(3.7rem, calc(5vw + 12px), 6rem);
  height: clamp(3.7rem, calc(5vw + 12px), 6rem); */
}

.product-btn * {
  pointer-events: none;
}

.product-btn:hover {
  opacity: 0.8;
}

.product-btn svg {
  width: 100%;
  height: 100%;  
}

.product-btn .cart-svg {
  width: calc(100% - 0.2rem);
}

.disbled {
  pointer-events: none;
}

.show-details {
  height: 40rem;
}

.catalog-handlers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about {
  color: var(--clr-light);
}

.about a {
  color: var(--clr-light-grey);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* ///////////////////// */
/* /// Shopping Cart /// */
/* ///////////////////// */
.aside {
  width: 100%;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding-block: 1.5rem;
  background: var(--clr-secondary);
}

.list-item {
  width: 100%;
}

.shopping-cart .card {
  padding: 1rem;
  margin: auto;
}

.shopping-cart .aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  min-height: 8rem;
  padding: 1em;
  background: var(--clr-light);
}

.shopping-cart .aside * {
  color: var(--clr-dark);
}

/* CartUpdate  */
.cart-update-wrapper {
  max-height: 0; 
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  transition-delay: 0.1s;
}

.show-cart-update {
  max-height: 20rem;
  transition: max-height 0.4s ease-in;
  transition-delay:  0.2s;
}

.cart-update {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  background: var(--clr-light);
}

.cart-update h3 {
  font-size: 14px;
  font-weight: 400;
}

.update {
  min-height: 2rem;
}

.update:nth-last-of-type(odd) {
  background: var(--clr-light-grey);
}

.update p {
  margin-inline-start: 0.5rem;
  padding-block: 0.5rem;
  font-size: 13px;
  font-weight: 400;
  margin-left: 2rem;
}

.update p span {
  display: inline-block;
}

.update p span:nth-of-type(2) { 
  margin-inline-start: 1rem;
  vertical-align: middle;
}


.update .warning-icon,
.update .danger-icon {
  vertical-align: middle;
  stroke-width: 0.2px;
  width: 1.4em;
  height: 1.4rem;
}

.warning-icon {  fill: var(--clr-warning) }
.danger-icon {  fill: var(--clr-danger) }

.cart-loader * {
  color: var(--clr-dark);
}

.cart-total {
  display: flex;
  align-items: center;
  font-size: var(--fs-150);
}

.cart-price {
  padding-block-end: 1rem;
  width: 100%;
  margin-bottom: 1rem;
 }

 .cart-price * {
  color: var(--clr-dark);
 }

 .cart-price tbody {
  width: 100%;
 }
 
 .cart-price tr:nth-of-type(odd) {
  background: var(--clr-light-grey);
  vertical-align: middle;
 }
 .cart-price td {
   display: inline-block;
  width: 50%;
  vertical-align: middle;
  line-height: 2;
 }

 .cart-price td:nth-of-type(odd) {
  padding-inline: 0.7rem;
 }

 .cart-price td:nth-of-type(even) {
  padding-inline: 0.7rem;
  text-align: right;
 }

 

.checkout-btn {
  padding-block: 1rem;
  width: 100%;
  color: var(--clr-dark);
  background: var(--clr-warning);
  box-shadow: var(--shadow-1)
}

.product-actions {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: flex-end;
 }

.product-dropdown {
  width: 25%;
}

.dropdown {
  position: relative;
  overflow: hidden;
  align-self: center;
}

.dropdown:before,
.dropdown:after {
  content: '';
  position: absolute;
  width: 0; 
	height: 0; 
}

.dropdown select {
  min-height: 3rem;
  padding: 0.5rem 1rem;
  color: var(--clr-dark);
  font-size: var(--fs-125);
  background: var(--clr-light-grey);
  border-radius: var(--radius-1);
  /* source @ https://codepen.io/vkjgr/pen/VYMeXp */
  background-image:
    linear-gradient(45deg, transparent 50%, var(--clr-primary) 50%),
    linear-gradient(135deg, var(--clr-primary) 50%, transparent 50%),
    linear-gradient(var(--clr-secondary), var(--clr-secondary));
  background-position:
    calc(100% - 15px) calc(1.1rem + 2px),
    calc(100% - 10px) calc(1.1rem + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.cart-item {
  position: absolute;
  right: -4rem;
  top: 0;
} 

.cart-item .item-count {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.3rem;
  right: -0.3rem;
  font-size: 8px;
  text-align: center;
  background: var(--clr-surface);
}

.item-count span {
  align-self: center;
  display: inline-block;
  width: 100%;
 text-align: center;
}

.quantity {
  border-bottom: 1px solid var(--clr-light-grey);
  padding-block-start: 0.3rem;
}

.modal-message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-light);
  z-index: 5000;
}

.color-identity {
  height: fit-content;
}

.color-symbols .color-symbol {
  width: clamp(12.5px, calc(1vw + 5px), 15px);
  display: inline-block;
  margin-inline-start: 0.4rem;
}

/* Generic styles */
.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Pages */
.page {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  color: var(--clr-dark) !important;
}

.page-header  {
  color: var(--clr-dark);
  /* padding: 1rem; */
   margin-bottom: 1rem;
}

.page-title {
  font-size: var(--fs-200);
  font-weight: 400;
  border-bottom: 1px solid var(--clr-eclipse);
}

.layout .page-title {
  border-bottom: 1px solid var(--clr-light);
}

.d-mobile-menu {
  width: 100% !important;
  left: 0 !important;
}

.d-desktop-menu {
  width: 100% !important;
  left: 70% !important;
}

/* new item */

.card {
  position: relative;
  background: var(--clr-light);
}

.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 340px;
  min-width: 244px;
  width: 100%;
  padding-block: 3rem;
  gap: 1rem;
}

.product-container .slide {
  width: 244px;
  height: 341px;
  min-height: inherit;
}

.product-image{
  /* aspect-ratio: 1 / 1.4;
  width: 100%;
  height: 100%; */
  border-radius: var(--card-radius);
  }
  
  /* ///////////////////////// */
  /* /////// Set styles ////// */
  /* ///////////////////////// */
  .set {
    /* border: 1px solid var(--clr-grey); */
    border-radius: 5px;
  }

.set-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.7rem;
  background: var(--clr-eclipse);
  border-radius: 5px;
}

.set-header h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-inline: 1rem;
  /* border: 1px solid var(--clr-grey); */
  line-height: 1;
}

.set-header .set-name {
  /* display: inline-block; */
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--clr-light);
  vertical-align: middle;
}
/* Source @ https://dev.to/hasantezcan/how-to-colorize-svg-image-1kc8 */
.set-header .set-icon {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  /* mask-size: 100%; */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
  background-color: red;
}

.set-prints {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: .2rem;
}

.print {
  display: flex;
  gap: 1rem;
  padding: 0.75rem;
  background: var(--clr-alloy);
  /* border: 1px solid var(--clr-eclipse); */
  border-radius: 5px;
  color: var(--clr-light);
  font-size: var(--fs-125);
  font-weight: 400;
  box-shadow: var(--print-shadow);
}

.finishes {
  display: flex;
  width: 70%;
  gap: 1rem;
}

.finish {
  flex-grow: 1;
  /* margin: auto; */
  text-align: center;
  padding: 0.5rem;
  /* border: 1px solid white; */
}

.finish.foil {
  color: var(--clr-foil);
}


.finish.etched {
  /* color: var(--clr-etched); */
}

figure.product-view {
  height: 100%;
  width: 30%;
  border-radius: var(--print-radius);
}

.product-view-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--print-radius);
}

.image-print {
  width: 100%;
  border-radius: var(--print-radius);
}

.image-print:hover {
  cursor: pointer;
  opacity: var(--opacity-hover);
}

.is-foil::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    115deg, 
    rgba(0, 255, 0, 0) 0, 
    rgba(0, 255, 0, .25) 25%,
    rgba(255, 255, 0, .3) 50%, 
    rgba(255, 0, 0, .15) 75%, 
    rgba(255, 0, 0, .3) 100%);
  pointer-events: none;
  border-radius: var(--card-radius);
  z-index: 1;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  border: 1px solid var(--clr-grey);
  border-radius: 5px;
  padding: var(--size-1);
}

.product-wrapper {
  /* position: absolute; */
  top: 345px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-image,
.product-image {
  /* position: relative;
  width: 100%;
  display: flex;
  flex-basis: 0;
  flex-grow: 1; */
  /* margin-inline: auto; */
}

.product-card {
  grid-template-areas: 
  "one one one one"
  "two two three three"
  "two two three three"
  "two two four four"
  "two two four four";
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.product-card .one {
  grid-area: one;
}

.product-card .two {
  grid-area: two;
}

.product-card .three {
  grid-area: three;
}

.product-card .four {
  grid-area: four;
 height: min-content;
 margin-top: auto;
}

.card-finish {
  border-radius: 12.5px 0 0 0;
  border-color: #353b41 transparent transparent #353b41;
  border-style: solid;
  border-width: 2.5rem;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
} 

.card-finish span {
  position: absolute;
  top: -16px;
  left: -18px;
  color: #ffe600;
  font-size: 12px;
  font-weight: 700;
  transform: rotate(-45deg);
}

.product-count {
  position: absolute;
  font-size: var(--fs-125);
  top: 7px;
  color: var(--clr-dark);
}

.layout .product-count {
  color: var(--clr-light);
}

.product-price {
  top: 5%;
  left: 5%;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  line-height: 1.6;
  color: var(--clr-dark);
  font-size: var(--fs-150);
  font-weight: var(--fw-700);
  background: rgba(255, 255, 255, 1);
  border: 3px solid var(--clr-surface);
  border-radius: 5px;
  box-shadow: var(--shadow-2);
}

.expand-icon path {
  /* color: var(--clr-eclipse); */
  /* stroke-width: 4rem; */
}

.product-info .seller-icon {
  width: 2rem;
  height: 2rem;
}

.seller-icon {
  vertical-align: middle;
  color: #C4BEAE;
}

.seller-icon svg {
  width: 100%;
  height: 100%;
}

.seller-icon svg path:nth-of-type(2) {
  fill: #3a5155;
}

/* MailBox */

.new-message {
height: auto;
}

