/* Removing browser preset for input tags */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* container for login and signup */
.form-container {
    min-height: calc(100vh - 2 * var(--header-height));
}

.form-content {
    width: 100%;
}

.form-logo {
    font-family: 'Young Serif', serif;
    width: fit-content;
    margin-inline: auto;
    margin-block-end: 3em;
}

.form-logo:hover {
    opacity: 0.8;
}

.form-logo h1 {
    padding-inline: 1em;
    padding-block: 0.5em;
    font-size: var(--fs-200);
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-blue);
    border-radius: 5px;
}

/*************************/
/*************************/
/* Auth Form Style ******/
/*************************/
/*************************/

.auth-form {
    padding-inline: 4rem;
    padding-block: 3rem;
}

.form-title h2 {
    text-align: center;
    font-weight: 400;
}

.form-element {
    padding-block-start: 1rem;
}

.form-element label {
    display: block;
    padding-block-end: 0.5em;
}

.auth-form input {
    width: 100%;
    padding: 1rem;
    font-size: var(--fs-150);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--clr-grey);
}

.form-element input::placeholder {
    color: var( --clr-grey);
}

.form-element input:focus::placeholder {
    opacity: 0;
}

.login-password-wrapper  {
    background-color: #fff;
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.login-password-wrapper:focus-within {
  
    border: 2px solid rgb(103, 152, 180, 0.7) !important;
}

.login-password-wrapper #password  {
    border: none;
    border-radius: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Login password error handling */
.login-password-wrapper #password:focus { 
    border: none !important;
}

.login-password-wrapper.border-danger #password {
    padding: calc(var(--size-1) - 1px) !important;
}

.login-password-wrapper .password-btn {
    width: 15%;
    margin: 2px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.login-password-wrapper .password-btn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.login-password-wrapper i {
    font-size: var(--fs-175);
    color: #c9c9c9;
}


.form-element:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
}

.form-element .btn {
    width: 40%;
    /* flex-basis: 100%; */
    padding-block: 1rem;
    /* padding-inline: 2rem; */
    font-size: var(--fs-175);
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-green);
    border-radius: 5px;
    cursor: pointer;
}

.form-element .link {
    /* flex-basis: 100%; */
    align-self: center;
    font-size: var(--fs-125);
    margin-inline-start: 1rem;
    text-align: center;
}

.show-error-message {
    /* max-width: 99%; */
    margin-inline: 4rem;
    margin-block-start: 2rem;
    padding: 1rem;
    border: 1px solid var(--clr-danger);
    border-radius: 5px;
    color: var(--clr-danger);
    background-color: rgba(220, 53, 69, 0.1);
}

.show-success-message {
    /* max-width: 99%; */
    margin-inline: 4rem;
    margin-block-start: 2rem;
    padding: 1rem;
    border: 1px solid var(--clr-success);
    border-radius: 5px;
    color: var(--clr-blue);
    background-color: rgba(34, 170, 68, 0.1);
}

.form-element input:focus {
    padding: calc(var(--size-1) - 1px) !important;
    border: 2px solid rgb(103, 152, 180, 0.7) !important;
}

.auth-message-title {
    padding-block-end: 0.5rem;
    margin-block-end: 0.5rem;
    text-align: center;
    font-weight: 400;
}

/* Signup requirements card */
.form-element input + .requirements-container {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    transition-delay: 0.1s;
}

.form-element input:invalid + .requirements-container {
    max-height: 20rem;
    transition:max-height 0.3s ease-in;
    transition-delay:  0.2s;
    
}

.form-element input + .requirements-container .requirements-wrapper {
    margin-block: var(--size-2);
    border: 1px solid var(--clr-grey);
    background-color: rgba(224, 203, 205, 0.1);
    color: rgb(27, 47, 65, 0.7);
    padding-inline: 1rem;
    padding-block: 0.8rem;
    border-radius: 5px;
}

.requirements-message p {
    line-height: 1.8;
    display: flex;
    align-items: center;
}

.empty-field {
    color: var(--clr-danger);
}


/*************************/
/*************************/
/* Search API &     ******/
/* Search Store     ******/
/* Search Catalog   ******/
/*************************/
/*************************/


.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100vw;
    padding-inline: var(--size-2);
    padding-block-start: 5rem;
    align-items: center;
    flex-direction: column;
    background-color: rgba(216, 214, 211, 0.8);
    z-index: 3000;
}

.overlay-image {
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.overlay-image * { 
    pointer-events: none;
}

.search-card {
    margin-block-start: var(--size-4);
    padding-inline: var(--size-2);
}

.page-title {
    font-weight: 400;
}

#search-api-form,
#search-collection-form { 
    position: relative;
    width: 100%;
    margin-block: var(--size-2);
}
input#search-api,
input#search-collection {
    border: 1px solid var(--clr-grey);
    width: 100%;
    padding: var(--size-1);
    margin-inline: auto;
}

.search-result {
    position: relative;
}

.save-to-collection span {
    font-size: 1.3rem;
}

.search-result-info h3,
.search-result-info span {
    font-weight: 400;
    font-size: 1.3rem; 
    color: var(--clr-light-grey);
}

.search-result-info {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    background: var(--clr-blue);
    border-top: 1px solid rgba(216, 214, 211, 0.3);
  
}

.search-result-header {
    /* position: relative; */
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 100;
}

.back-link {
   width: 100%;
   padding: 0.5rem;
   font-size: 1.3rem;
   background-color: var(--clr-light-grey);
}

.back-link > a  {
    display: flex;
    width: 15rem;
    padding-block: 0.5rem;
    align-items: center;
    background: var(--clr-light);
    border-radius: 2px;
}

.back-link > a svg {
    width: 2rem;
    height: 2rem;
    padding: 2px 0;
}

.result-details * {
    display: block;
}

.result-title svg {
    display: block;
    font-weight: 300;
    font-size: var(--fs-150);
    color: var(--clr-red);
}

.clear-search {
    width: fit-content;
    display: block;
    text-align: right;
}

div.cards {
    padding-inline: 2rem;
}

/* SearchCatalog form style */
#search-catalog-container {
    position: absolute;
    display: flex;
    top: 0;
    right: var(--size-5);
    width: 0;
    min-height: var(--header-height);
    background-color: var(--clr-blue);
    z-index: 2000;
    transition: 0.1s ease-in-out;
}

#search-catalog-form {
    display: flex;
    width: calc(100% - var(--size-1));
    min-height: var(--size-4);
    margin-block: 0.5rem;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
}

.search-field {
    width: calc(100% - var(--size-1));
    margin-left: auto;
    border-radius: 5px;
    color: var(--clr-dark);
    font-size: var(--fs-150);
}

input#search-collection:focus,
input#search-api:focus {
    padding: calc(var(--size-1) - 1px) !important;
    border: 2px solid rgb(103, 152, 180, 0.7) !important;
}

.search-field::placeholder { 
    font-size: var(--fs-150);
}

/* AUTOCOMPLETE */
ul.autocomplete-list {
    position: absolute;
    width: calc(100% - var(--size-1));
    max-height: 40vh;
    top: 5rem;
    left: var(--size-1);
    overflow: auto;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3000;
  }

  .suggestion * {
    pointer-events: none;
  }

  .suggestion:hover {
    cursor: pointer;
  }

  .card-container,
  .card-delete-container {
    margin-block-start: var(--size-2);
    padding: 1rem;
    border: 1px solid var(--clr-grey);
    border-radius: var(--size-1); 
    background: var(--clr-light);
  }

  .card-delete-container {
    min-height: 48rem;
    min-width: calc(100vw - 4rem);
  }

  .card-body {
    height: fit-content;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    background: var(--clr-light);
  }

  .response-body {
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .response-body svg { 
    width: 10rem;
    height: 10rem;
  }

  .card-section {
    position: relative;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
  }

  .card-section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-image-container {
    width: 100%;
    border-radius: 10px;
  }

  .expand-icon-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(252, 252, 252, 0.5);
    padding: 0.5rem;
    /* border-radius: 50px; */
    /* z-index: 10; */
  }

  .expand-icon-container:hover { 
    cursor: pointer;
  }

 .expand-icon {
     display: block;
     color: rgba(38, 38, 38, 1);
    height: 2rem;
    width: 2rem;
  }

  .card-image {
    width: 100%;
    display: block;
    align-self: center;
    z-index: 0;
  }

  .card-image:hover {
    cursor: pointer;
  }

  /* .card-image * {
    pointer-events: none;
  } */

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
    padding: var(--size-1);
  }

  .card-header .card-name {
    font-family: 'Young Serif', serif;
    font-size: var(--fs-150);
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.6;
  }

  .card-spec-title {
    /* display: inline-block; */
    font-weight: 500;
    margin-inline-end: var(--size-1);
  }

  .card-selected {
    border: 0.6rem solid var(--clr-blue) !important;
    background: var(--clr-light-grey) !important;
}

.card-selected .card-body {
    border-radius: 5px !important;
    background: var(--clr-light-grey) !important;
    padding: 1rem;
}

.foil-finish {
    padding-inline: 0.5rem;
    color: var(--clr-light-grey);
    background: var(--clr-teal);
    border-radius: 2px;
}

.card-footer {
    margin-block-start: var(--size-1);
    border-radius: 5px;
}

.card-delete-message {
    margin-block: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.card-btns-wrapper {
    width: 100%;
    display: flex;
    gap: var(--size-2);
}

.btn-container {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

.card-btn {
    width: 100%;
    padding-block: 0.6rem;
    font-size: var(--fs-150);
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
  }







  











