/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .login-password i {
        font-size: var(--fs-175);
    }
}

@media screen and (width >= 775px) {
    .wrapper {
        background-color: var(--clr-dark);
    }
    .container {
        padding-top: var(--header-height-wide);
    }

    .main-content {
        padding-inline: var(--size-1); 
    }

    /* login & signup */
    .form-element label {
        padding-bottom: 0.5rem;
     }

    .form-element label,
    .form-element p,
    .form-element .link {
        font-size: 1.3rem;
    }

    /* Header */
    .nav-btn svg {
        height: 3rem;
        width: 3rem;
    }

    .banner {
        width: 100%;
        left: 0;
        background-position: 0 50%;
        background-size: 105%;
        width: 100vw;
        aspect-ratio: 2.5 / 1;
    }

    .home-page-banner {
        background-image: url('https://cards.scryfall.io/art_crop/front/9/f/9f9f5e0c-8bf4-46ab-ad79-332ceeaed3d5.jpg?1681768912');
    }

    .banner-link {
        /* display: none; */
        background-color: var(--clr-primary);
        color: var(--clr-ternary);
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: none;
    }

    .banner-section {
        position: static;
        width: 100%;
    }
  
    /* Header */
    .main-header {
        display: flex;
        flex-direction: column;
        min-height: var(--header-height-wide);
    }
    
    .top-header  {
        padding-inline: 2rem;
    }

    nav .left-side-nav {
        gap: 2rem;
    }

    .auth-nav-btn {
        display: block;
    }

    .right-side-nav ul {
        width: 100%;
    }

    .signin-nav-btn {
        display: block;
    }

    .auth-btn,
    .signed-btn {
        display: block;
    }
    
    #search-catalog-container {
        padding-block: 0;
    }
    
    #search-catalog-form {
        padding-block: 0;
    }
    
    #search-catalog {
        margin-block: 0;
    }

    /* Side Section */
    .contextual-nav {
        position:static;
        display: block;
        top: var(--header-height-wide);
        width: 30vw;
        z-index: 0;
    }

    .contextual-links {
        display: block;
    }

    .contextual-links > a {
        display: block;
        padding: var(--size-1);
        text-align: center;
        border-bottom: 1px solid var(--clr-grey);
    }

    .contextual-links > a:last-of-type {
        border-bottom: none;
    }

    .contextual-links a span {
        font-size: var(--fs-175);
        font-weight: 500;
    }

    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }

    #search-catalog-container {
        position: relative;
        min-height: var(--header-height-wide);
        min-width: clamp(20rem, 50%, 60rem) !important;
    }

      /* Autocomplete */
      .autocomplete-list {
        top: 6rem;
        min-width: clamp(20rem, 50%, 60rem) !important;
    }

    #search-catalog-form {
        width: 100%;
        margin-block: 0;
        background-color: var(--clr-primary);
        border-radius: 0;
    }

    #search-catalog {
        margin-inline: 0;
        font-size: var(--fs-175);
        min-height: 4.5rem;
        width: 100%;
        padding-inline: var(--size-1);
        margin-block: 0.75rem;
        margin-inline: auto;
    }

    #search-catalog::placeholder {
        font-size: var(--fs-175);
    }
    
    /* site menu left property is pushed top a 100% (off screen) */

    .logo-btn {
        margin-inline-end: var(--size-2);
    }
    .navbar {
        display: flex;
        min-width: fit-content;
    }
    
    .nav-btn svg {
        transform: scale(1.1);
        /* width: calc(2 * var(--size-4)); */
    }

    nav .right-side-nav ul {
        inset: var(--header-height-wide) 0 0 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    nav .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    nav .search-btn * {
        display: none;
    }

    .footer {
        min-height: var(--header-height-wide);
        margin-inline: auto;
        margin-top: 6rem;
        font-size: var(--fs-125);
    }

    /* Feature Section Style & Media Element */

    .media-scroller {
        width: 100%;
        padding: 2rem;
        /* margin-top: 6rem; */
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 21%;
        gap: var(--size-2);
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        background-color: var(--clr-dark);
      }
      
      .media-element {
        display: grid;
        grid-template-rows: min-content;
        gap: var(--size-1);
        padding: var(--size-1);
        background-color: var(--clr-surface);
        border-radius: 15px;
      }
      
      .media-element h3 {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: var(--fs-125);
      }
      
      .media-element img {
        border-radius: 1.2rem;
      }

      .feature-section {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        padding: var(--size-2);
        margin-block-start: 6rem;
        background-color: var(--clr-surface);
        border-radius: 10px;
      }

      .site-features {
        padding-block: 0;
        padding-inline: var(--size-1);
        grid-template-columns: none;
        grid-auto-columns: auto;
        grid-gap: var(--size-3);
        border-radius: 10px;
      }

      .feature-element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
      
        color: var(--clr-grey);
        background-color: var(--clr-primary);
        border-radius: 15px;
      }
      
      .feature-element header,
      .feature-element footer {
        padding-block: 2rem;
        border: 2px solid var(--clr-ternary);
        background-color: #49A078;
      }
      
      .feature-element header {
        margin-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      
      .feature-element footer {
        margin-top: 0;
        min-height: 5rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      
      .feature-title h2 {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        color: var(--clr-ternary);
      }
      
      .feature-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.5rem;
        height: 5.5rem;
        margin: 0 auto;
        border: 2px solid var(--clr-ternary);
        border-radius: 50%;
      }
      
      .feature-icon svg {
        display: block;
        color: var(--clr-ternary);
      }
      
      .feature-element main {
        flex: 1;
        padding: 2rem;
        /* margin: 1rem; */
        /* font-size: var(--fs-150); */
        line-height: 1.7;
        border: 2px solid var(--clr-ternary);
      }
      
      .line-icon {
        margin-right: 0.7rem;
      }
      .line-icon svg {
        vertical-align: middle;
      }
      
      .feature-element main p {
        margin-top: 1.5rem;
      }
      
      .img-container {
        border-radius: 100%;
      }
        .img-container img { 
      
          margin: 0 auto;
        }
}

@media screen and (width >= 1200px) {
    
    .banner {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
       
}