/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .login-password i {
        font-size: var(--fs-175);
    }
}

@media screen and (width >= 500px) { 

    nav .left-side-nav {
        gap: var(--size-2);
    }
}

@media screen and (width >= 775px) {
    .content {
        display: flex;
        padding: 1rem;
    }

    .content > div {
        /* width: 100%; */
        width: 60vw;
        display: block;
    }
    .container {
        margin-top: var(--header-height-wide);
        margin-inline: auto;
    }

    /* Header */
    .main-header {
        display: flex;
        flex-direction: column;
        min-height: var(--header-height-wide);
        /* padding-inline: var(--size-2); */
    }
    
    .top-header  {
        padding-inline: 2rem;
    }
    
    #search-catalog-container {
        padding-block: 0;
    }
    
    #search-catalog-form {
        padding-block: 0;
    }
    
    #search-catalog {
        margin-block: 0;
    }

    /* Side Section */
    .contextual-nav {
        position:static;
        display: block;
        top: var(--header-height-wide);
        width: 30vw;
    }

    .contextual-links {
        display: block;
    }

    .contextual-links > a {
        display: block;
        padding: var(--size-1);
        text-align: center;
        border-bottom: 1px solid var(--clr-grey);
    }

    .contextual-links > a:last-of-type {
        border-bottom: none;
    }

    .contextual-links a span {
        font-size: var(--fs-175);
        font-weight: 500;
    }

    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }

    #search-catalog-container {
        position: static;
        min-height: var(--header-height-wide);
        min-width: clamp(20rem, 50%, 60rem) !important;
  
    }

    #search-catalog-form {
        width: 100%;
        margin-block: 0;
        background-color: var(--clr-primary);
        border-radius: 0;
    }

    #search-catalog {
        margin-inline: 0;
        font-size: var(--fs-175);
        min-height: 4.5rem;
        width: 100%;
           padding-inline: var(--size-1);
        margin-block: 0.75rem;
        margin-inline: auto;
    }

    #search-catalog::placeholder {
        font-size: var(--fs-175);
    }
    
    /* site menu left property is pushed top a 100% (off screen) */
        
    /* Hamburger */
    .mobile-nav-label {
        /* display: none; */
    }

    .logo-btn {
        margin-inline-end: var(--size-2);
    }
    .navbar {
        display: flex;
        min-width: fit-content;
    }
    
    .nav-btn svg {
        transform: scale(1.1);
        /* width: calc(2 * var(--size-4)); */
    }

    nav .right-side-nav ul {
        inset: var(--header-height-wide) 0 0 100%;
    }

    nav .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    nav .search-btn * {
        display: none;
    }

    .footer {
        min-height: var(--header-height--wide);
    }
}

@media screen and (width >= 1600px) {
    /* landing page */

    .section {
        padding-block-start: 5rem;
    }

    .section-content {
        flex-direction: row;
        gap: 10rem;
        margin-block-start: 5rem;
    }

    .article-title {
        padding-block: 2rem;
    }

    .article {
        padding-inline: 0;
    }

    .article-body {
        min-height: 50vh;
        padding-block-start: 4rem;
    }

       
}