:root {
    /* site colors */
    /* --clr-primary: #ee6352; */
    --clr-danger: rgb(220, 53, 69);
    --clr-success: rgb(34, 170, 68);

    --clr-primary: rgb(27, 47, 65);
    --clr-secondary: rgb(42, 73, 101);
    --clr-light-blue: rgb(219, 236, 250);
    --clr-grey: rgb(219, 219, 219);
    --clr-light-grey: #F7F7F7;
    --clr-red: rgb(162, 22, 34);
    --clr-light: rgb(252, 252, 252);
    --clr-dark: hwb(0 15% 85%);
    --clr-green: #49A078;
    --clr-yellow: #FFB834;
    --clr-yellow-2: #eca31a;
    --clr-teal: #3598d1;
    --clr-primary-steel: rgb(103, 152, 180);
  


    /* font sizes */
    --fs-300: 3rem;
    --fs-275: 2.75rem;
    --fs-250: 2.5rem;
    --fs-225: 2.25rem;
    --fs-200: 2rem;
    --fs-175: 1.75rem;
    --fs-150: 1.5rem;
    --fs-125: 1.25rem;
    --fs-100: 1rem;
    --fs-075: 0.75rem;
    --fs-050: 0.5rem;
    --fs-form: 1.6rem;
    
    /* size */
    --size-1: 1rem;
    --size-2: 2rem;
    --size-3: 3rem;
    --size-4: 4rem;
    --size-5: 5rem;
    --size-6: 6rem;

    /* header heights */
    --header-height: 5rem;
    --footer-height: 5rem;
    --header-height-wide: 6rem;
}

.check-icon {
    color: var(--clr-success);
    font-size: 4rem;
}

html {
    font-size: 62.5%;
}

body {
  min-width: 100vw;
  height: 100%;
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-125);
  line-height: 1.5;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  overflow-x: hidden;
}

a {
  color: var(--clr-dark);
}

.main-header {
  width: 100%;
  min-width: 300px;
  position: fixed;
  top: 0;
  color: var(--clr-grey);
  z-index: 2000;
}

.top-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--size-1);
  min-height: var(--header-height);
  background-color: var(--clr-primary);
}

.bottom-header {
  background-color: var(--clr-light);
}

.contextual-nav,
.search-result-header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: var(--header-height);
  z-index: 1000;

}

.contextual-links {
  background-color: var(--clr-light);
  min-height: 4rem;
  display: flex;
}

.contextual-links > a {
  display: flex;
  flex: 1;
  align-items: center; 
  justify-content: center;
}
 
.contextual-nav a span {
  pointer-events: none;
  /* color: var(--clr-grey); */
  font-size: var(--fs-125);
  font-weight: 500;
}

.active-link {
  color: var(--clr-primary);
  background-color: var(--clr-light-grey);
}

.inactive-link {
  color: var(--clr-grey);
  background-color: var(--clr-secondary);
}

.wrapper {
  min-height: 100vh;
  /* padding-top: var(--header-height); */
}

.container {
  min-width: 300px;
  min-height: calc(100vh - var(--footer-height));
  max-width: 1170px;
  padding-top: var(--header-height);
  margin-inline: auto;
}

.content {
  position: relative;
  padding-inline: 1rem;
  min-height: calc(100vh - 13.5rem);
  margin: auto;
}

.outer-content {
  display: flex;
  padding-top: 3.5rem;
  min-height: inherit;
}

.inner-content {
  flex-grow: 1;
}

.auth-content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding-inline: 1rem;
  /* padding-top: 5rem; */
  background-color: var(--clr-light-grey);
  min-height: calc(100vh - 13.5rem);
}

button:hover {
  cursor: pointer;
}

/* Loading Spinner Styling */

.loading-content {
  display: flex;
  min-height: inherit;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  margin: auto;
}

.loading-icon svg {
  display: block;
  width: 5rem;
  height: 5rem;
  color: var(--clr-primary);
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end spinner */


.header {
  width: 100%;
  padding: 2rem;
}

.btn {
  width: 100%;
  padding-block: 0.6rem;
  font-size: var(--fs-150);
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}

.title {
    text-align: center;
    font-size: var(--fs-250);
    font-weight: 300;
}

.article {
  flex-basis: 100%;
  margin-inline: auto;
}

.article-title {
  padding: 2rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid var(--clr-grey); 
}

.article-body {
    padding: 1rem;
}

/* Not found search page */
.not-found {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.not-found > main,
.not-found > footer {
  padding-inline: 2rem;
  text-align: center;
}

.not-found p,
.not-found h2 {
  margin-block: 1rem;
  line-height: 1.8;
  color: var(--clr-primary);
  text-align: center;
}

.not-found h2 {
  font-size: var(--fs-250);
}

.not-found p {
  font-size: var(--fs-175);
  font-weight: 600;
}

.not-found-btn {
  font-size: var(--fs-175);
  font-weight: 500;
  width: 50%;
  padding-block: 1rem;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-grey);
  border-radius: 5px;
}

.banner {
  position: relative;
  top: 0;
  left: -1rem;
  width: 100vw;
  height: min(40vw, 400px);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 25%;
  background-color: var(--clr-secondary);
  z-index: 1000;
  /* aspect-ratio: 3/1; */
}

.home-page-banner {
  background-image: url('https://cards.scryfall.io/art_crop/front/8/1/817f782f-7e62-44b3-9bb2-3a57d34dfe67.jpg?1682690866');
}

.not-found-banner {
  background-image: url('https://cards.scryfall.io/art_crop/front/5/9/597a8a8f-84ff-4041-9c99-938454a47951.jpg?1702429856');
}

/* No card collection page */
.message-section {
  margin-block-start: var(--size-2);
  /* padding-inline: var(--size-1); */
}


/* //////////////// */
/* // Auth Views //*/
/* ///////////// //*/


.message-body p {
  font-weight: 400;
  font-size: var(--fs-150);
  line-height: 1.6;
  margin-block-end: 1rem;
}


.message-link {
  font-size: var(--fs-150);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-grey);
  border-radius: 5px;
}

.message-link svg {

  margin-inline-start: 1rem;
  width: 2rem;
  height: 2rem;
}



/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: var(--header-height);
    font-size: var(--fs-100);
  }

  .footer p {
    align-self: flex-end;
    padding-block: var(--size-1);
  }

  /* Modal */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* padding-inline: var(--size-2); */
    background-color: rgba(216, 214, 211, .7);
    z-index: 3000;
    /* overflow: auto; */
  }

  .modal {
    /* display: flex;
    flex-direction: column; */
    height: calc(80vh);
    width: calc(100vw - 4rem);
    margin: 2rem auto;
    border-radius: var(--size-1); 
   
    /* position: relative; */
 
  }

  .modal-content {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: var(--clr-light);
    /* border: 2px solid var(--clr-light);  */
    }

  .modal-header {
    width: 100%;
    padding-block: 1.5rem;
  }

  .modal-title {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .modal-title h2 {
    color: var(--clr-light);
    /* line-height: 1.5; */
  }
  
  .modal-body {
    overflow-y: auto;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    padding: 2rem;
    flex-grow: 1;
    z-index: 0;
  }

  .modal-body > .card-body {
    padding-top: 0;
  }

  .modal-footer {
    padding-inline: 2rem;
    padding-block: 1.5rem;
   
     }

  .modal-message {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .modal-check {
    margin: 13rem auto;
  }

  .modal-check svg { 
    width: 14rem;
    height: 14rem;
  }

/* ////////////////////////// */
/* /// Search Result View /// */
/* ////////////////////////// */
.search-result-info h3,
.search-result-info span {
    font-weight: 400;
    font-size: 1.3rem; 
    color: var(--clr-light-grey);
}


.search-result-header {
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-inline: 1rem;
    background-color: var(--clr-secondary);
}

.search-result-header * {
  font-size: (var(--fs-125));
  font-weight: 500;
    color: var(--clr-grey);
}

.back-btn {
    display: flex;
    font-size: 1.3rem;
    line-height: 1.4;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.result-details * {
    display: block;
}

.result-title svg {
    display: block;
    font-weight: 300;
    font-size: var(--fs-150);
    color: var(--clr-red);
}