.padding-inline-1 {
    padding-inline: var(--size-1);
}

.padding-inline-2 {
    padding-inline: var(--size-2);
}

.padding-block-2 {
    padding-block: var(--size-2);
}

.padding-block-3 {
    padding-block: var(--size-3);
}

.padding-block-5 {
    padding-block: var(--size-5);
}

.margin-block-start-1 {
    margin-block-start: var(--size-1);
}
.margin-block-start-2 {
    margin-block-start: var(--size-2);
}
.margin-block-start-3 {
    margin-block-start: var(--size-3);
}

.margin-inline-end-1 {
    margin-inline-end: var(--size-1);
}
.margin-inline-end-2 {
    margin-inline-end: var(--size-2);
}
.margin-inline-end-3 {
    margin-inline-end: var(--size-3);
}

.border-danger {
    border: 2px solid rgba(220, 53, 69, 0.7) !important;
}

.danger-padding {
    padding: calc(var(--size-1) - 1px) !important;
}

.red-text {
    color: var(--clr-danger);
}

.inherit-height {
    min-height: inherit;
}

.height-100 {
    height: 100%;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-basis-0 {
    flex-basis: 0;
}

.gap-1 {
    gap: 1rem;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}

.center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}



.col-12 {
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.33%
}
 
.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 20%;
}

.margin-inline-auto {
    margin-inline: auto;
}

.space-1 {
    margin-left: var(--size-1);
}

.btn-small {
    display: inline-block;
    min-width: 5em;
    text-align: center;
    padding-block: 0.5rem;
    color: var(--clr-dark);
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.bg-yellow {
    background-color: var(--clr--yellow);
}

.bg-danger {
    background-color: var(--clr-danger);
}

.bg-success {
    background-color: var(--clr-success);
}

.bg-green {
    background: var(--clr-green);
}

.bg-blue {
    background: var(--clr-primary);
}

.bg-blue-light {
    background-color: rgba(27, 47, 65, 0.05);;
}

.bg-yellow {
    background: var(--clr-yellow);
}

.bg-red {
    background: var(--clr-red);
}

.bg-red-light {
    background-color: rgba(162, 22, 34, 0.05);
}

.bg-grey {
    background: var(--clr-grey);
}

.bg-light {
    background: var(--clr-light);
}

/* MTG colors */
.mtg-blue {
    background-color: #1F447E;
}
.mtg-red {
    background-color: #A63331;
}
.mtg-green {
    background-color: #2A4E27;
}
.mtg-white {
    background-color: #FFFDDE;
}
.mtg-black {
    background-color: #0D0C0A;
}

.border-success {
    border: 2px solid var(--clr-success);
}

.border-blue {
    border: 2px solid var(--clr-primary);
}

.border-light {
    border: 2px solid var(--clr-light);
}

.border-primary {
    border: 2px solid var(--clr-primary);
}

.border-red {
    border: 2px solid var(--clr-red);
}

.border-none {
    border: none;
}

.color-lg-grey {
    color: var(--clr-light-grey);
}

.color-dark {
    color: var(--clr-dark);
}

.color-light {
    color: var(--clr-light-grey)
}

.color-danger {
    color: var(--clr-danger);
}

.color-red {
    color: var(--clr-red);
}

.color-blue {
    color: var(--clr-primary);
}

.color-success {
    color: var(--clr-success) !important;
}

.color-green {
    color: var(--clr-green);
}

.color-primary {
    color: var(--clr-primary) !important;
}

.hide {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
}

.b-radius-5 {
    border-radius: 5px;
}

.b-radius-10 {
    border-radius: 10px;
}

.b-radius-15 {
    border-radius: 15px;
}

.b-radius-20 {
    border-radius: 20px;
}

.b-radius-25 {
    border-radius: 25px;
}

.fw-100 {
    font-weight: 100;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.overflow-y {
    overflow-y: auto !important;
}

.buffer {
    padding-block-start: var(--layout-top);
}

.fifth {
    min-height: 20rem;
    /* background-color: #3a8160; */
    border-radius: 10px;
}
.fifth {
    min-height: 20rem;
    /* background-color: #cf472e; */
    border-radius: 10px;
}
.fifth-square {
    min-height: 20rem;
    min-width: 20rem;
    /* background-color: #2579c7; */
    border-radius: 10px;
}

.scroll {
    overflow-y: auto;
}

.scroll-none {
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: touch;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: sticky !important;
    top: 0;
    left: 0;
}