/* Removing broser preset for input tags */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    
}

/* container for login and signup */
.form-container {
    min-height: calc(100vh - 2 * var(--header-height));
    /* min-height: calc(100vh - 8em); */
    /* height: max-content; */
    /* height: inherit; */
}

.form-content {
    width: 100%;
}

.form-logo {
    font-family: 'Young Serif', serif;
    width: fit-content;
    margin-inline: auto;
    margin-block-end: 3em;
}

.form-logo:hover {
    opacity: 0.8;
}

.form-logo h1 {
    padding-inline: 1em;
    padding-block: 0.5em;
    font-size: var(--fs-200);
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-blue);
    border-radius: 5px;
}


/*************************/
/*************************/
/* Auth Form Style ******/
/*************************/
/*************************/

.auth-form {
    padding-inline: 4rem;
    padding-block: 3rem;
}

.form-title h2 {
    text-align: center;
    font-weight: 400;
}

.form-element {
    padding-block-start: 1rem;
}

.form-element label {
    display: block;
    padding-block-end: 0.5em;
}

.auth-form input {
    width: 100%;
    padding: 1rem;
    font-size: var(--fs-150);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--clr-grey);
}

.form-element input::placeholder {
    color: var( --clr-grey);
}

.form-element input:focus::placeholder {
    opacity: 0;
}

.login-password {
    background-color: #fff;
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.login-password input {
    border: none;
    border-radius: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login-password .password-btn {
    width: 15%;
    margin: 2px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.login-password .password-btn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.login-password i {
    font-size: var(--fs-175);
    color: #c9c9c9;
}


.form-element:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
}

.form-element .btn {
    width: 40%;
    /* flex-basis: 100%; */
    padding-block: 1rem;
    /* padding-inline: 2rem; */
    font-size: var(--fs-175);
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-green);
    border-radius: 5px;
    cursor: pointer;
}

.form-element .link {
    /* flex-basis: 100%; */
    align-self: center;
    font-size: var(--fs-125);
    margin-inline-start: 1rem;
    text-align: center;
}

.show-error-message {
    /* max-width: 99%; */
    margin-inline: 4rem;
    margin-block-start: 2rem;
    padding: 1rem;
    border: 1px solid var(--clr-danger);
    border-radius: 5px;
    color: var(--clr-danger);
    background-color: rgba(220, 53, 69, 0.1);
}

.show-success-message {
    /* max-width: 99%; */
    margin-inline: 4rem;
    margin-block-start: 2rem;
    padding: 1rem;
    border: 1px solid var(--clr-success);
    border-radius: 5px;
    color: var(--clr-blue);
    background-color: rgba(34, 170, 68, 0.1);
}

.input-error {
    border-color: var(--clr-danger) !important; 
}

.input-success {
    border-color: var(--clr-success) !important;
}

.form-element input:focus {
    /* clr-blue-steel */
    padding: calc(var(--size-1) - 1px) !important;
    border: 2px solid rgb(103, 152, 180, 0.7) !important;
}

.form-element input + .validation-container {
   
    max-height: 0; 
    overflow: hidden;
   transition: all 0.3s ease-out;
}

.form-element input:invalid + .validation-container {
    max-height: 15rem;
    transition: all 0.3s ease-in 0.3s;
}

.form-element input + .validation-container .validation-wrapper {
    margin-block: var(--size-2);
    border: 1px solid var(--clr-grey);
    background-color: rgba(224, 203, 205, 0.1);
    color: rgb(27, 47, 65, 0.7);
    padding-inline: 1rem;
    padding-block: 0.8rem;
    border-radius: 5px;
}

.form-element input + .validation-container .validation-message {
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 0.1s ease-out; 
}
.form-element input:invalid + .validation-container .validation-message {
    opacity: 1;
    transition: opacity 0.1s ease-in 0.5s;
}

.validation-message p {
    line-height: 1.8;
    display: flex;
    align-items: center;
}


.empty-field {
    color: var(--clr-danger);
}

/* .auth-form span {
    color: var(--clr-danger);
    display: none;
} */

/* .input-error::placeholder {
    color: var(--clr-danger) !important;
} */




/*************************/
/*************************/
/* Search API &     ******/
/* Search Store     ******/
/* Search Catalog   ******/
/*************************/
/*************************/
.search-card {
    margin-block-start: var(--size-4);
    padding-inline: var(--size-2);
}

.page-title {
    font-weight: 400;
}

#search-api-form,
#search-collection-form { 
    position: relative;
    width: 100%;
    margin-block: var(--size-2);
}
input#search-api,
input#search-collection {
    border: 1px solid var(--clr-grey);
    width: 100%;
    padding: var(--size-1);
    margin-inline: auto;
}

.result-header {
    position: sticky;
    top: 4.9rem;
    width: 100%;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    color: var(--clr-light-grey);
    font-size: var(--fs-150);
    background: var(--clr-blue);
    border-top: 1px solid rgba(216, 214, 211, 0.3);
}

.save-to-collection, .search-result-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-to-collection span {
    font-size: 1.3rem;
}

.search-result-info h3,
.search-result-info span {
    font-weight: 400;
    font-size: 1.3rem; 
    color: var(--clr-light-grey);
}

.search-result-info {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    background: var(--clr-blue);
    border-top: 1px solid rgba(216, 214, 211, 0.3);
}




.result-header-btn {
    /* width: calc(3 * var(--size-4)); */
    /* padding-block: calc(var(--size-1) / 2); */
    padding-inline: 1.3rem;
    /* padding-block: 0.5rem; */
    height: 3.5rem;
    line-height: 1.5;
    color: var(--clr-dark);
    font-size: var(--fs-150);
    font-weight: 500;
    border-radius: 5px;
}

.selected-count {
    font-size: var(--fs-125);
}

/* .result-header-top a  {
    display: flex;
    padding-inline-end: 0.5rem;
    padding-block: 0.5rem;
    align-items: center;
    border: 1px solid var(--clr-grey);
    border-radius: 2px;
} */

/* .result-header-top a svg {
    width: 2rem;
    height: 2rem;
    padding: 2px 0;
} */
.back-link {
   width: 100%;
   padding: 0.5rem;
   font-size: 1.3rem;
   background-color: var(--clr-light-grey);
}

.back-link > a  {
    display: flex;
    width: 15rem;
    /* padding-inline-end: 0.5rem; */
    padding-block: 0.5rem;
    align-items: center;
    background: var(--clr-light);
    /* border: 1px solid var(--clr-grey); */
    border-radius: 2px;
}

.back-link > a svg {
    width: 2rem;
    height: 2rem;
    padding: 2px 0;
}

.result-details * {
    display: block;
}

.result-title svg {
    display: block;
    font-weight: 300;
    font-size: var(--fs-150);
    color: var(--clr-red);
}

.clear-search {
    width: fit-content;
    display: block;
    text-align: right;
}

.search-items {
    padding-inline: 2rem;
}

/* SearchCatalog form style */
#search-catalog-container {
    position: absolute;
    display: flex;
    top: 0;
    right: var(--size-5);
    width: 0;
    min-height: var(--header-height);
    background-color: var(--clr-blue);
    z-index: 2000;
    transition: 0.1s ease-in-out;
}

#search-catalog-form {
    display: flex;
    width: calc(100% - var(--size-1));
    min-height: var(--size-4);
    margin-block: 0.5rem;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
}

.search-field {
    width: calc(100% - var(--size-1));
    margin-left: auto;
    border-radius: 5px;
    color: var(--clr-dark);
    font-size: var(--fs-150);
}

.search-field::placeholder { 
    font-size: var(--fs-150);
}


/* AUTOCOMPLETE */
ul.autocomplete-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--size-1));
    max-height: 40vh;
    top: 5rem;
    left: var(--size-1);
    overflow-y: hidden;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3000;
  }

  .suggestion * {
    pointer-events: none;
  }

  .suggestion:hover {
    cursor: pointer;
  }

  .card-container {
    margin-block-start: var(--size-2);
    border: 1px solid var(--clr-grey);
    border-radius: var(--size-1); 
    background: var(--clr-light);
    padding: 0.5rem;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    background: var(--clr-light);
  }

  .card-section {
    min-width: 48%;
  }

  .card-section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


  .card-image {
    width: 100%;
  }

  .card-image img {
    width: 100%;
    display: block;
    align-self: center;
    border-radius: 5px;
  }

  .card-name {
    font-family: 'Young Serif', serif;
    font-size: 1.3rem;
    text-align: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    padding-inline-start: 1rem;
    font-size: 1rem;
    line-height: 1.6;
  }

  .card-btn-container {
    width: 100%;
    text-align: center;
  }

  .card-btn {
    width: 90%;
    padding-block: calc(var(--size-1) / 2);
    font-size: var(--fs-150);
    font-weight: 500;
    border-radius: 5px;
  }

  .card-selected {
    border: 0.6rem solid var(--clr-blue) !important;
    background: var(--clr-light-grey) !important;
}

.card-selected .card-body {
    border-radius: 5px !important;
    background: var(--clr-light-grey) !important;
    padding: 1rem;
}

.foil-finish {
    padding-inline: 0.5rem;
    color: var(--clr-light-grey);
    background: var(--clr-teal);
    border-radius: 2px;
}
  











