/* Removing broser preset for input tags */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    
}

/* container for login and signup */
.form-container {
    min-height: calc(100vh - 2 * var(--header-height));
    /* min-height: calc(100vh - 8em); */
    /* height: max-content; */
    /* height: inherit; */
}

.form-content {
    width: 100%;
}

.form-logo {
    width: fit-content;
    margin-inline: auto;
    margin-block-end: 3em;
}

.form-logo:hover {
    opacity: 0.8;
}

.form-logo h1 {
    padding-inline: 1em;
    padding-block: 0.5em;
    font-size: var(--fs-200);
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-blue);
    border-radius: 5px;
}

.auth-form {
    padding-inline: 4rem;
    padding-block: 3rem;
}

.form-title h2 {
    text-align: center;
    font-weight: 400;
}

.form-element {
    padding-block-start: 1rem;
}

.form-element label {
    display: block;
    padding-block-end: 0.5em;
}

.auth-form input {
    width: 100%;
    padding: 1rem;
    font-size: var(--fs-150);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--clr-grey);
}

.form-element input::placeholder {
    color: var( --clr-grey);
}

.form-element input:focus::placeholder {
    opacity: 0;
}

/* SearchCatalog form style */
.search-bar {
    position: absolute;
    display: flex;
    top: 0;
    right: var(--size-5);
    width: 0;
    /* width: calc(100% - var(--size-4)); */
    min-height: var(--header-height);
    background-color: var(--clr-blue);
    z-index: 2000;
    transition: 0.1s ease-in-out;
}

.search-form {
    display: flex;
    width: calc(100% - var(--size-1));
    min-height: var(--size-4);
    margin-block: 0.5rem;
    margin-left: auto;
    background-color: #fff;
    border-radius: 5px;
}

.search-field {
    border: none;
    width: calc(100% - var(--size-1));
    margin-left: auto;
    border-radius: 5px;
    
    color: var(--clr-dark);
    font-size: var(--fs-150);
    /* transition: 0.2s ease-in; */
}

.search-field::placeholder { 
    font-size: var(--fs-150);
}


/*************************/
/*************************/
/* Login Form Style ******/
/*************************/
/*************************/
.login-password {
    background-color: #fff;
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.login-password input {
    border: none;
    border-radius: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login-password .password-btn {
    width: 15%;
    margin: 2px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.login-password .password-btn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.login-password i {
    font-size: var(--fs-175);
    color: #c9c9c9;
}


.form-element:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
}

.form-element .btn {
    width: 40%;
    /* flex-basis: 100%; */
    padding-block: 1rem;
    /* padding-inline: 2rem; */
    font-size: var(--fs-175);
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-green);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.form-element .link {
    /* flex-basis: 100%; */
    align-self: center;
    font-size: var(--fs-125);
    margin-inline-start: 1rem;
    text-align: center;
}

.show-error-message {
    max-width: 99%;
    margin-inline: auto;
    margin-block-start: 2rem;
    padding: 1rem;
    border: 1px solid var(--clr-danger);
    border-radius: 5px;
    color: var(--clr-danger);
    background-color: rgba(220, 53, 69, 0.1);
}

.input-error {
    border-color: var(--clr-danger) !important; 
}

.input-error::placeholder {
    color: var(--clr-danger) !important;
}







