/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .login-password i {
        font-size: var(--fs-175);
    }
}


@media screen and (width >= 725px) {
    .wrapper {
        padding-block-start: var(--header-height-wide);
        min-height: calc(100vh - var(--header-height-wide));
    }

    .container {
        /* height: calc(100vh - (2 * var(--header-height-wide))); */
    }

    .main-header {
        min-height: var(--header-height-wide);
        position: fixed;
    }

    .search-catalog input[type=text] {
        border: none;
        min-height: 4rem;
        padding: 0.8rem;
    }
    
    .search-catalog input[type=text]::placeholder {
        font-size: var(--fs-150);
    }
    
    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }
    nav .right-side-nav ul {
        inset: var(--header-height-wide) 0 0 100%;
    }
    nav .right-side-nav li:last-child {
        display: none;
    }

    nav .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    .search-catalog-content {
        position: static;
        justify-content:flex-end;
        width: 100%;
        min-height: var(--header-height);
        background-color: var(--clr-blue);
        z-index: 2000;
    }

    form.search-catalog {
       width: 75%;
    }
     
    form.search-catalog input[type=text] {
        min-height: 4rem;
        padding: 1rem;
    }

    form.search-catalog input[type=text]::placeholder {
        font-size: var(--fs-150);
    }

    .search-nav-label {
        display: none;
    }

    .mobile-nav-label {
        /* display: none; */
    }


    .footer {
        min-height: var(--header-height-wide);
    }
}

@media screen and (width >= 1000px) {
    form.search-catalog { 
        width: 50rem;
    }
}

@media screen and (width >= 1600px) {
    /* landing page */
    .wrapper {
        width: 80vw;
        margin-inline: auto;
    }

    .section {
        padding-block-start: 5rem;
    }

    .section-content {
        flex-direction: row;
        gap: 10rem;
        margin-block-start: 5rem;
    }

    .article-title {
        padding-block: 2rem;
    }

    .article {
        padding-inline: 0;
    }

    .article-body {
        min-height: 50vh;
        padding-block-start: 4rem;
    }

       
}