
@media screen and (width >= 720px) {
   

    /* Remove Create account link from list */


    /* nav .left-side .nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        padding:0;
        border: none;
    } */
/* 
    nav .left-side span {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding-inline: 0.5rem;
        margin-inline: auto;
    } */

    /* nav .left-side span::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--clr-dark);
        transition: width 0.1s;
    }

    nav .left-side .nav-link:hover span::after {
        width: 100%;
    }

    nav .right-side {
        margin-inline-start: calc(1rem + 1vw);
    } */


}

/* 960px */
/* @media screen and (width >= 960px) {
    .navbar {
        max-width: 90%;
        margin-inline: auto;
    }
} */



/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .login-password i {
        font-size: var(--fs-175);
    }
}


@media screen and (width >= 725px) {
    .wrapper {
        min-height: calc(100vh - (2 * var(--header-height-wide)));
    }

    .container {
        /* height: calc(100vh - (2 * var(--header-height-wide))); */
    }

    .main-header {
        min-height: var(--header-height-wide);
    }

    .search-catalog input[type=text] {
        border: none;
        min-height: 4rem;
        padding: 0.8rem;
    }
    
    .search-catalog input[type=text]::placeholder {
        font-size: var(--fs-150);
    }
    
    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }
    nav .left-side ul {
        inset: var(--header-height-wide) 0 0 100%;
    }
    nav .left-side li:last-child {
        display: none;
    }

    nav .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    .mobile-nav-label {
        /* display: none; */
    }

.footer {
    min-height: var(--header-height-wide);
}
}

@media screen and (width >= 1600px) {
    /* landing page */
    .wrapper {
        width: 80vw;
        margin-inline: auto;
        /* font-size: var(--fs-150); */
    }

    .section {
        margin-block-start: 5rem;
        padding-block: 3rem;
    }

    .section-content {
        display: flex;
        gap: 10rem;
        margin-block-start: 5rem;
    }

    .article-title {
        padding-block: 2rem;
    }

    .article {
        padding-inline: 0;
    }

    .article-body {
        min-height: 50vh;
        padding-block-start: 4rem;
    }

       
}