/* form.css */
@media screen and (width >= 400px) {
    .form-content {
        width: 380px;
    }

    .login-password i {
        font-size: var(--fs-175);
    }
}


@media screen and (width >= 725px) {
    .wrapper {
        padding-block-start: var(--header-height-wide);
        min-height: calc(100vh - (2 * var(--header-height-wide)));
    }

    .main-header {
        min-height: var(--header-height-wide);
        position: fixed;
    }

    .section-content { 
        flex-direction: row;
        align-items: flex-start;
    }

    nav .right-side-nav ul {
        inset: var(--header-height-wide) 0 0 100%;
    }

    nav .right-side a:nth-of-type(2) {
        display: inline-block;
    } 

    nav .search-btn {
        display: none;
    }

    .search-form {
        position: static;
        max-width: 50rem;
    }
     
    .search-form .search-field {
        min-height: 4rem;
        padding: 1rem;
    }

    .search-form .search-field::placeholder {
        font-size: var(--fs-150);
    }

    .search-nav-label {
        display: none;
    }

    .mobile-nav-label {
        /* display: none; */
    }


    .footer {
        min-height: var(--header-height--wide);
    }
}

@media screen and (width >= 1600px) {
    /* landing page */
    .wrapper {
        width: 80vw;
        margin-inline: auto;
    }

    .section {
        padding-block-start: 5rem;
    }

    .section-content {
        flex-direction: row;
        gap: 10rem;
        margin-block-start: 5rem;
    }

    .article-title {
        padding-block: 2rem;
    }

    .article {
        padding-inline: 0;
    }

    .article-body {
        min-height: 50vh;
        padding-block-start: 4rem;
    }

       
}