.navbar {
    position: relative;
    display: flex;
    align-self: center;

    /* width: 100%; */
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav .right-side-nav {
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: space-between; */
}

/* Navigation */
nav .right-side-nav ul {
    position: fixed;
    inset: var(--header-height) 0 0 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    overflow-y: hidden;
    transition: 0.2s ease;
    /* border-top: 1px solid var(--clr-grey); */
    background-color: var(--clr-light);
}

nav .right-side-nav .nav-link {
    display:block;
    padding: 1.5rem;
    width: 100%;
    font-size: var(--fs-175);
    color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-grey);
}

nav .left-side-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .left-side-nav a:nth-of-type(2) {
    display: none;
}

#mobile-nav,
#search-nav {
    display: none;
}

.mobile-nav-label,
.search-nav-label {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--size-3);
    height: 2em;
    padding-block: 1em;
    cursor: pointer;
}

/* Search Form Animation */
.search-nav-label span,
.search-nav-label::before,
.search-nav-label::after {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: var(--clr-blue);
    transition: 0.2s ease;
    z-index: 3000;
}

.search-nav-label span {
    opacity: 0;
}

.search-nav-label::before,
.search-nav-label::after {
    content: '';
    position: absolute;
}

/* Hamburger */
.mobile-nav-label span,
.mobile-nav-label::before,
.mobile-nav-label::after {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--clr-grey);
    transition: 0.2s ease;
    z-index: 999;
}

.mobile-nav-label::before,
.mobile-nav-label::after {
    content: '';
    position: absolute;
}

.mobile-nav-label::before {
    top: 2px;
}

.mobile-nav-label::after {
    bottom: 2px;
}

/* Hamburger animation */
/* 'checked' className option for Firebox browser added to header @ main.js */
header:has(input:checked) .mobile-nav-label::before,
header.checked .mobile-nav-label::before {
    rotate: -45deg;
    translate: 1px 9px;
}


header:has(input:checked) .mobile-nav-label::after,
header.checked .mobile-nav-label::after {
    rotate: 45deg;
    translate: 1px -9px;
}

header:has(input:checked) .mobile-nav-label span,
header.checked .mobile-nav-label span {
    opacity: 0;
}

header:has(input:checked) nav ul,
header.checked nav ul {
    left: 0;
}

/* Prevent header scrolling when menu is open on mobile */
header:has(input:checked),
header.checked {
    /* position: sticky; */
}

