/* Navigation */
.logo-btn * {
    color: var(--clr-grey);
}

.nav-btn {
   /* margin-left: 2rem; */
   /* width: 3rem; */
}

.nav-btn svg {
    display: block;
}

.auth-btn,
.hamburger-btn,
.search-btn {
    cursor: pointer;
}

.auth-btn *,
.hamburger-btn *,
.cart-btn *,
.mail-btn *,
.search-btn *
 {
    pointer-events: none;
}

nav .left-side-nav {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--size-1);
}

nav .left-side-nav a:nth-of-type(2) {
    display: none;
}
nav .right-side-nav {
    height: 100%;
    display: flex;
}

nav .right-side-nav ul {
    position: fixed;
    inset: 5rem 0 0 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
    overflow-y: hidden;
    transition: 0.2s ease;
    /* border-top: 1px solid var(--clr-grey); */
    background-color: var(--clr-light);
}

nav .right-side-nav .nav-link {
    display:block;
    padding: 1.5rem;
    width: 100%;
    font-size: var(--fs-175);
    color: var(--clr-dark);
    border-bottom: 1px solid var(--clr-grey);
}

/* Hamburger */
#mobile-nav {
    display: none;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    min-height: 4rem;
}

.mobile-nav-label {
    position: relative;
    display: flex;
    align-items: center;
    min-width: var(--size-3);
    min-height: 2em;
    cursor: pointer;
}
.mobile-nav-label span,
.mobile-nav-label::before,
.mobile-nav-label::after {
    width: var(--size-3);
    height: 3px;
    border-radius: 5px;
    background-color: var(--clr-grey);
    transition: 0.2s ease;
    z-index: 999;
}

.mobile-nav-label::before,
.mobile-nav-label::after {
    content: '';
    position: absolute;
}

.mobile-nav-label::before {
    top: 2px;
}

.mobile-nav-label::after {
    bottom: 2px;
}

/* Hamburger animation */
/* 'checked' className option for Firebox browser added to header @ main.js */
header:has(input:checked) .mobile-nav-label::before,
header.checked .mobile-nav-label::before {
    rotate: -45deg;
    translate: 1px 9px;
}


header:has(input:checked) .mobile-nav-label::after,
header.checked .mobile-nav-label::after {
    rotate: 45deg;
    translate: 1px -9px;
}

header:has(input:checked) .mobile-nav-label span,
header.checked .mobile-nav-label span {
    opacity: 0;
}

