:root {
    /* site colors */
    --clr-primary: #ee6352;
    --clr-header: #dfd9d9;
    --clr-body: #333;
    --clr-bg-body: rgb(243, 242, 242);
    --clr-bg-header: #252525;
    --clr-light: rgba(163, 163, 163, 0.4); 
    --clr-danger: rgb(220, 53, 69);
    --clr-success: rgb(34, 170, 68);

    /* font sizes */
    --fs-xl: clamp(2rem, calc(1vw + 2rem), 2.5rem);
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.5rem;
    --fs-300: 1.25rem;
    --fs-100: 1rem;
    
    /* size */
    --size-1: 1em;
    --size-2: 2em;
    --size-3: 3em;
}

.check-icon {
    color: var(--clr-success);
    font-size: 4rem;
}

html {
    font-size: 62.5%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-300);
  line-height: 1.5;
  color: var(--clr-body);
  background-color: var(--clr-bg-body);
}

/* .header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 3.5em;
    padding: 0.5em 1em;
    background-color: var(--background);
    display: flex;
    align-items: center;
    min-width: 300px;
  } */

.main-header {
  position: relative;
  display: flex;
  min-height: 4em;
  min-width: 300px;
  /* top: 0;
  left: 0; */
  z-index: 100;
  width: 100%;
  padding-inline: 1em;
  background-color: var(--clr-bg-body);
}

/* #root {
    min-height: 100vh;
} */

.wrapper {
  position: relative;
  min-width: 300px;
  max-width: 100%;
  min-height: calc(100vh - 8em);
  padding-block-start: 4em;
}

.container {
  margin-inline: auto;
}

/* spinner */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
}

.spinner p {
    margin-block-start: 5rem;
}
/* end spinner */



.section {
    /* margin-block-start: 5rem; */
     /* padding-block: 3rem; */
     padding-block: 3rem;
     padding-inline: 2rem;
}


.section-title {
    padding-block-end: 2rem;
    text-align: center;
    font-size: var(--fs-700);
    font-weight: 300;
}

.section-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 10rem; */
    /* margin-block-start: 5rem; */
}

.article {
  margin-inline: auto;
  /* padding-inline: 3rem; */
  flex-basis: 100%;
}

.article-title {
  padding-block: 1rem;
  font-weight: 300;
text-align: center;
}

.article-body {
    padding-block: 3rem;
    margin-inline: 2rem;
    border-top: 1px solid var(--clr-light) 
}

/* Home page */
.home-page .article-body {
    position: relative;
    display: block;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 4em;
    font-size: var(--fs-200);
  }

  .footer p {
    align-self: flex-end;
    padding-block: 1rem;
  }