.padding-inline-1 {
    padding-inline: var(--size-1);
}

.padding-inline-2 {
    padding-inline: var(--size-2);
}

.padding-block-2 {
    padding-block: var(--size-2);
}

.padding-block-3 {
    padding-block: var(--size-3);
}

.margin-block-start-1 {
    margin-block-start: var(--size-1);
}
.margin-block-start-2 {
    margin-block-start: var(--size-2);
}
.margin-block-start-3 {
    margin-block-start: var(--size-3);
}

.red-border {
    border-color: var(--clr-danger) !important; 
}

.red-text {
    color: var(--clr-danger);
}

.background-red {
    background-color: var(--clr-danger);
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}

.center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.content-height {
    height: max-content;
}

.col-12 {
    width: 100%;
}

.col-9 {
    width: 75%;
}
 
.col-6 {
    width: 50%;
}

.col-4 {
    width: 33%;
}

.col-3 {
    width: 25%;
}

.margin-inline-auto {
    margin-inline: auto;
}

.btn-small {
    display: inline-block;
    min-width: 5em;
    text-align: center;
    padding-block: 0.5rem;
    color: var(--clr-dark);
    border: 1px solid var(--clr-grey);
    border-radius: 5px;
}

.bg-green {
    background: var(--clr-green);
}

.bg-yellow {
    background: var(--clr-yellow);
}

.bg-red {
    background: var(--clr-red);
}

.bg-teal {
    background: var(--clr-teal);
}

.bg-grey {
    background: var(--clr-grey);
}

.selected-card {
    padding: calc((var(--size-1) / 2) - 2px) !important;
    border: 3px solid var(--clr-grey) !important;
    background: var(--clr-light-grey) !important;
}