/* Logo styles */
.section--logo {
  display: flex;
  justify-content: flex-start;
  width: 65%;
  align-items: center;
  padding-left: 5em;
  font-size: 0.8rem;
  color: #fff;
}

.section-mobile-icons {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.padding-right {
  padding-right: 1em;
}

.section--search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}
.searchbar {
  position: absolute;
  /* display: none; */
  background-color: var(--background);
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0.2em 0.1em;
  transform: scale(1, 0);
  /* transform: translate(0, 100px); */
  transform-origin: top;
  transition: transform 120ms ease-in-out;
}

.signout {
  color: #fff;

  padding: 0.4em 0;
  padding-left: 1em;
  /* text-align: center;  */
}

.signout:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Search mobile */
.search-toggle {
  display: none;
}

.search-toggle:checked ~ .searchbar {
  /* display: block; */
  transform: scale(1, 1);
}

.search-toggle-label {
  display: flex;
  align-items: center;
}
/* Mail icon container */

/* Icons */
.section--cart {
  position: relative;
}

.section--mail a svg,
.section--cart a svg {
  display: block;
  color: #fff;
}

/* Cart icon color */
.section--cart a svg {
  color: #fff;
}

.login,
.register {
  width: 125px;
}
.login a,
.register a {
  color: var(--light-color);
  padding: 8px 0;
}

.login a {
  background: var(--color-success);
}

.register a {
  background: var(--primary-color);
}

button.register,
button.submit,
button.warning,
button.danger,
button.secondary {
  color: var(--extra-light-color);
  border: none;
}

button.submit.message,
button.register.cart {
  font-size: 0.9rem;
  padding: 15px 0;
}

button.primary {
  background: var(--primary-color);
}

button.success {
  background: var(--color-success);
}

button.warning {
  background: var(--warning-color);
}
button.danger {
  background: var(--danger-color);
}

button.secondary {
  background: var(--secondary-color);
}

/* button:hover, */
div.section--mail:hover,
div.section--cart:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ********************* */
/* Loged in Dropdown menu */
/* ********************* */
div.auth-dropdown {
  position: relative;
  display: inline-block;
  min-width: 220px;
  color: #fff;
  border-bottom: 1px solid var(--light-color);
}

div.auth-name {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul.auth-dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 46px;
  right: 0;
  min-width: 100%;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

ul.auth-dropdown-content li {
  width: 100%;
  display: block;
  margin: 1px 0;
}

ul.auth-dropdown-content li a {
  display: block;
  width: 100%;
  padding: 0.5em;
  color: var(--dark-color);
  border-bottom: 1px solid var(--light-color);
}

ul.auth-dropdown-content li .signout {
  padding: 0;
  color: var(--dark-color);
  padding: 0.5em;
}

.signout:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* User Page section blocks */
main.user-page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
section.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ************ */
/* Send Message */
/* Mail box     */
/* ************ */

div.message-content {
  width: 100%;
}

section.message-form,
section.mail.box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 100%;
}

aside .left-side,
aside .right-side {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 30vh;
  border: 1px solid var(--dark-color);
}

section.message-form textarea {
  width: 100%;
  height: 30vh;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  resize: none;
}

section.message-form textarea:focus,
section.message-form input[type='text']:focus {
  border-color: #17a2bb;
  outline-color: #17a2bb;
}

section.message-form form {
  display: flex;
  flex-direction: column;
}

section.message-form footer {
  display: flex;
  justify-content: space-between;
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 0.9rem;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 5px 5px -5px #e4e4e4;
}

.clear-search {
  display: flex;
  align-items: center;
  color: #333;
}

.clear-search:hover {
  cursor: pointer;
  opacity: 0.8;
}

.clear-search svg {
  margin-left: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

/* User main page */
.user-page-container {
  display: flex;
  flex-direction: column;
}

.user-page-container a {
  display: block;
}

.user-page-section {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #e4e4e4;
  border-radius: 0.5em;
}

.user-page-section h2 {
  text-align: center;
  margin: 0;
  padding: 0.5em 0;
}

.user-page-section article {
  font-size: 0.9rem;
  padding: 1em;
}


#item-order {
  /* @ views/CatalogItem.js */
  display: block;
  font-size: 0.9rem;
  width: 20%;
  background: #fff;
  color: #333;
  text-align: center;
  /* padding: 0.5em 0; */
  border: 1px solid #e4e4e4;
}

.item-order:focus {
  outline: none;
}

.catalog-cart-button {
  background: #fff;
  color: #333;
  width: 70%;
  /* padding: 0.5em 0; */
  border: 1px solid #e4e4e4;
}

.column {
  flex-direction: column;
}

.catalog-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
}

.item-quantity > input {
  border: 0.1em solid #333;
  padding: 0;
  margin: 0;
}

.add-remove-button {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.add-remove-button:hover {
  cursor: pointer;
}

.row-3 {
  width: 100%;
}

.push-right {
  justify-content: flex-end;
}

.button-width {
  width: 48%;
  margin-top: 1em;
}

/* API card styles */
.add-button {
  width: 100%;
  background-color: var(--color-success);
}

.add-card-form {
  width: 100%;
}

/* Mail styles */
.mailbox-container {
  /* @ views/mail/MailBox.js */
  display: flex;
  flex-direction: column;

  /* font-size: 0.8rem; */
}

.mailbox-content {
  width: 100%;
  margin-top: 1em;
  border: 1px solid #f5f8fa;
}

.mailbox-header {
  /* @ views/mail/MailHeader.js */
  position: relative;
  display: flex;
  width: 100%;
  padding: 2.5em 0;
  font-size: 0.6rem;
  color: #fff;
  background: #636363;
}

.mailbox-row {
  display: flex;
  /* width: 33%; */
  /* justify-content: flex-end; */
}

.mail-row {
  position: relative;
  display: flex;
}

.mailbox-section-1 {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  /* padding-left: 1em; */
}

.mailbox-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding-right: 1em;
}
.mailbox-header > .mail-checkbox {
  top: 1.6em;
}

.mail-checkbox {
  position: absolute;
  top: 1.7em;
  left: 1.2em;
  z-index: 20;
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.mail-message {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  padding: 1.5em 0;
  background-color: #fff;
  border-bottom: 1px solid #aabbc2;
}

.mail-message:hover {
  cursor: pointer;
  border-left-color: #aabbc2;
}

.mail-checkbox:hover {
  cursor: pointer;
}

.row-to {
  padding-left: 3.5em;
}
.row-from {
  /* @ views/mail/MailHeader.js */
  padding-left: 3.5em;
}

.row-sent {
  /* @ views/mail/MailHeader.js */
  width: 30%;
}

.mailbox-sidebar-header {
  /* height: 12vh; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 100%;
}

.mailbox-sidebar-options {
  display: flex;
  width: 100%;
}

.mailbox-sidebar-options li {
  width: 25%;
}

.mailbox-sidebar-options li a {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8em 0;
}

button.remove-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  font-size: 0.9rem;
  padding: 0.7em 0;
  background: #dc3545;
  color: #fff;
  border: 2px solid #dc3545;
}

button.compose-message {
  font-size: 0.9rem;
  width: 48%;
  padding: 0.7em 0;
  background: #28a745;
  color: #fff;
  border: 2px solid #28a745;
}

.message-details {
  /* @ views/mail/Message */
  padding-left: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e1e8ed;
}

.mail-content {
  /* @ views/mail/Message */
  min-height: 20vh;
  font-size: 1rem;
  border-bottom: 1px solid #e1e8ed;
  padding: 1em;
  word-wrap: break-word;
}

/* Media queries */
@media (min-width: 500px) {
  
  .mail-message {
    border-left: 0.2em solid #f5f8fa;
  }
  
  .item-details {
    width: 100%;
  }

  .item-details {
    margin-top: 1em;
    font-size: 0.8rem;
  }
  .item-buttons {
    flex-direction: column;
  }

  .item-quantity {
    position: relative;
    width: 100%;
  }

  .catalog-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
  }
}

@media (min-width: 700px) {
  .user-page-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .user-page-section {
    width: 30%;
  }

  .user-page-section h2 {
    font-size: 1.2rem;
  }

  .catalog-items {
    gap: 2%;
  }
}

@media (min-width: 900px) {
  .catalog-items {
    gap: 1.3%;
  }
}
@media (min-width: 1100px) {

  .catalog-items {
    gap: 1.25%;
  }
}

@media (min-width: 1400px) {
  .catalog-items {
    gap: 1.4%;
  }
}

@media (max-width: 375px) {
  #catalog-cart-button {
    font-size: 0.9em;
    padding: 0.7em 0;
  }

  #item-order {
    /* @ views/CatalogItem.js */
    margin: 0;
    padding: 0.7em 0;
  }

  .full-width {
    width: 100%;
  }
}

@media (max-width: 320px) {
  div.section--icons svg {
    width: 1.5em;
    height: 1.5em;
  }
  div.section--logo {
    padding-left: 4.5em;
  }

  .item-button {
    font-size: 0.8rem;
  }

  .footer {
    font-size: 0.8rem;
  }
}

